<script type="text/ng-template" id="_form-detail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">View <strong>Detail</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
        <label for="code" class="col-sm-3 control-label">Group Code </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="code" name="code" ng-model="items.groupCode" ng-disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="group_name" class="col-sm-3 control-label">Group Name </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="group_name" name="group_name" ng-model="items.groupName" ng-disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="group_parent" class="col-sm-3 control-label">Group Parent </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="group_parent" name="group_parent" ng-model="items.groupParent" ng-disabled="true">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
</script>
