<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title custom-font">{{"create"|translate}}<strong> Group</strong></h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="form">
    <div class="form-group">
      <label for="code" class="col-sm-3 control-label">Group Code </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.code.$invalid, 'has-success' : form.code.$valid && !form.code.$pristine}">
        <input type="text" class="form-control" id="code" name="code" ng-model="items.groupCode" ng-maxlength="20" ng-minlength="3" ng-disabled="items.editMode" ng-pattern="/^[0-9a-zA-Z_]*$/" ng-trim="false" required>
        <p class="help-block mb-0" ng-show="form.code.$error.required && !form.code.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.maxlength && !form.code.$pristine">{{'error_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.minlength && !form.code.$pristine">{{'error_min_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.pattern && !form.code.$pristine">{{'INVALID_INPUT'|translate}}, {{'Error_CharNum'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="group_name" class="col-sm-3 control-label">Group Name </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.group_name.$invalid, 'has-success' : form.group_name.$valid && !form.group_name.$pristine}">
        <input ng-pattern="/^[a-zA-Z0-9_-]+( [a-zA-Z0-9_-]+)*$/" type="text" class="form-control" id="group_name" name="group_name" ng-model="items.groupName" required>
        <p class="help-block mb-0" ng-show="form.group_name.$error.required && !form.group_name.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.group_name.$error.pattern && !form.group_name.$pristine">{{'INVALID_INPUT'|translate}}, {{'Error_CharNum'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="group_parent" class="col-sm-3 control-label">Group Parent </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.group_parent.$invalid, 'has-success' : form.group_parent.$valid && !form.group_parent.$pristine}">
        <select ui-jq="chosen" chosen-update-list id="group_parent" name="group_parent" ng-model="items.groupParent" ng-change="exactSearch.groupCode=true" class="form-control" data-ng-options="obj.groupCode as obj.groupName for obj in list.group" required>
          <option value="">{{'MSG_OPTIONS'|translate}}</option>
        </select>
        <p class="help-block mb-0" ng-show="form.group_parent.$error.required && !form.group_parent.$pristine">{{'error_required'|translate}}</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="form.$invalid" ng-click="create_item(items)"><i class="fa fa-arrow-right"></i> Submit</button>
</div>