<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button ng-if="grid.appScope.buttonAccess('voucher-type_update')" type="submit" title="Edit" class="btn btn-xs btn-info btn-rounded" data-ng-click="grid.appScope.edit(row.entity)">
        <i class="fa fa-pencil"></i>
      </button>

      <button ng-if="grid.appScope.buttonAccess('voucher-type_delete')" type="submit" title="Delete" ng-remove-message="Are you sure that you want to delete this item?" ng-remove-click="grid.appScope.delete(row.entity)" class="btn btn-xs btn-red btn-rounded">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</div>
