<div class="form-group" ng-class="{ 'has-error' : voucherTypeForm.code.$invalid, 'has-success' : voucherTypeForm.code.$valid && !voucherTypeForm.code.$pristine}">
  <label class="control-label col-md-3" for="name">Code: </label>
  <div class="col-md-8">
      <input type="text" name="code" id="code" class="form-control" ng-model="items.id" placeholder="Voucher Type Code" ng-disabled="items.disableCode" ng-pattern="/^[0-9a-zA-Z_]*$/" ng-trim="false" ng-maxlength="16" required/>
      <p class="help-block" ng-show="voucherTypeForm.code.$error.required && !voucherTypeForm.code.$pristine">{{'error_required'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.code.$error.pattern && !voucherTypeForm.code.$pristine">{{'error_format'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.code.$error.maxlength && !voucherTypeForm.code.$pristine">{{'error_length'|translate}}</p>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : voucherTypeForm.labelName.$invalid, 'has-success' : voucherTypeForm.labelName.$valid && !voucherTypeForm.labelName.$pristine}">
  <label class="control-label col-md-3" for="name">Name: </label>
  <div class="col-md-8">
      <input type="text" name="labelName" id="labelName" class="form-control" ng-model="items.label" placeholder="Voucher Type Name" ng-maxlength="64"required/>
      <p class="help-block" ng-show="voucherTypeForm.labelName.$error.required && !voucherTypeForm.labelName.$pristine">{{'error_required'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.labelName.$error.maxlength && !voucherTypeForm.labelName.$pristine">{{'error_length'|translate}}</p>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : voucherTypeForm.minAmount.$invalid, 'has-success' : voucherTypeForm.minAmount.$valid && !voucherTypeForm.minAmount.$pristine}">
  <label class="control-label col-md-3" for="name">Min Amount: </label>
  <div class="col-md-8">
      <input type="text" format="number" name="minAmount" id="minAmount" class="form-control" ng-model="items.minAmount" placeholder="Minimum Amount" ng-pattern="/^[0-9]+$/" ng-trim="false" required/>
      <p class="help-block" ng-show="voucherTypeForm.minAmount.$error.required && !voucherTypeForm.minAmount.$pristine">{{'error_required'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.minAmount.$error.pattern && !voucherTypeForm.minAmount.$pristine">{{'error_format'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.minAmount.$error.maxlength && !voucherTypeForm.minAmount.$pristine">{{'error_length'|translate}}</p>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : voucherTypeForm.maxAmount.$invalid, 'has-success' : voucherTypeForm.maxAmount.$valid && !voucherTypeForm.maxAmount.$pristine}">
  <label class="control-label col-md-3" for="name">Max Amount: </label>
  <div class="col-md-8">
      <input type="text" format="number" name="maxAmount" id="maxAmount" class="form-control" ng-model="items.maxAmount" placeholder="Maximum Amount" ng-pattern="/^[0-9]+$/" ng-trim="false" required/>
      <p class="help-block" ng-show="voucherTypeForm.maxAmount.$error.required && !voucherTypeForm.maxAmount.$pristine">{{'error_required'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.maxAmount.$error.pattern && !voucherTypeForm.maxAmount.$pristine">{{'error_format'|translate}}</p>
      <p class="help-block" ng-show="voucherTypeForm.maxAmount.$error.maxlength && !voucherTypeForm.maxAmount.$pristine">{{'error_length'|translate}}</p>
  </div>
</div>
<div class="form-group" ng-hide="true" ng-class="{ 'has-error' : voucherTypeForm.expiredUnit.$invalid, 'has-success' : voucherTypeForm.expiredUnit.$valid && !voucherTypeForm.expiredUnit.$pristine}">
    <label for="expiredUnit" class="col-sm-3 control-label">Expired Type</label>
    <div class="col-sm-8">
      <select ng-init="items.expiredUnitId = 3" class="form-control" name="expiredUnit" id="expiredUnit" ng-model="items.expiredUnitId" data-ng-options="obj.id as obj.name for obj in list.expiredUnitList" required>
        <option value="">{{'MSG_OPTIONS'|translate}}</option>
      </select>
      <p class="help-block mb-0" ng-show="voucherTypeForm.expiredUnit.$error.required && !voucherTypeForm.expiredUnit.$pristine">{{'error_required'|translate}}</p>
    </div>
</div>
<div class="form-group" ng-hide="true" ng-class="{ 'has-error' : voucherTypeForm.redeemPriority.$invalid, 'has-success' : voucherTypeForm.redeemPriority.$valid && !voucherTypeForm.redeemPriority.$pristine}">
  <label for="redeemPriority" class="col-sm-3 control-label">Redeem Priority</label>
  <div class="col-sm-8">
    <select ng-init="items.redeemPriorityId = 1" class="form-control" name="redeemPriority" id="redeemPriority" ng-model="items.redeemPriorityId" data-ng-options="obj.id as obj.name for obj in list.redeemPriorityList" required>
      <option value="">{{'MSG_OPTIONS'|translate}}</option>
    </select>
    <p class="help-block"><span ng-show="voucherTypeForm.redeemPriority.$error.required && !voucherTypeForm.redeemPriority.$pristine">{{'error_required'|translate}}</span></p>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : voucherTypeForm.company.$invalid, 'has-success' : voucherTypeForm.company.$valid && !voucherTypeForm.company.$pristine}">
  <label for="company" class="col-sm-3 control-label">Company</label>
  <div class="col-sm-8">
      <select class="form-control" name="company" id="company" ng-model="items.companies[0]" data-ng-options="obj as obj.name for obj in list.companyList track by obj.name" required>
        <option value="">{{'MSG_OPTIONS'|translate}}</option>
      </select>
      <p class="help-block"><span ng-show="voucherTypeForm.company.$error.required && !voucherTypeForm.company.$pristine">{{'error_required'|translate}}</span></p>
    </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3" for="name">Description: </label>
  <div class="col-md-8">
      <textarea type="text" rows="4" cols="50" name="remark" id="remark" class="form-control" ng-model="items.description" placeholder="Voucher Type Description"/>
  </div>
</div>