<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">{{"create"|translate}} <strong>{{'voucher-type'|translate}}</strong></h3>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" role="form" name="voucherTypeForm">
      <div ng-include="'views/administration/voucher-type/_form-detail.html'"></div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
        <i class="fa fa-arrow-left"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok(items)" ng-disabled="voucherTypeForm.$invalid">
        <i class="fa fa-arrow-right"></i> 
        Submit
      </button>    
    </div>
  </div>
</script>
