#id-translate .btn{
  padding: 0px 1px !important;
}

#veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(208, 208, 208, 0.5); /*dim the background*/
}

.center {
  text-align: center;
}

/*.ui-grid-row .ui-grid-cell {
  background-color: inherit !important;
}*/
.blue-bordered-box{
  border:solid 1px;border-color: #357ebd;
}
.blue-box{
  background-color: #357ebd;
  color: white;
}
.danger{
  color: #e60900;
}
.pd-5-12 {
  padding: 5px 12px;
}
/*.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
  overflow-x: auto !important;
  overflow-y: auto !important;
}*/
.row-danger {
  background: #F5B2B2;
}
.row-success {
  background: #C3F8C3;
}
.row-warning {
  background: #FCD999;
}
.row-light {
  background-color: #fdfdfd;
}
.row-dark{
  background-color: #f3f3f3;
}
.min-height-400{
  min-height: 440px;
}
.min-height-600{
  min-height: 600px;
}
.watermark {
  position: absolute;
  top : 80px;
  opacity: 0.5;
  font-size: 20pt;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
.modal-backdrop {
  position: fixed;
  height: 100%;
  background: #808080;
}

.loadinggif {
  width: 8%;
  float: right;
  background:url('../images/ajax-loader.gif') no-repeat right center;
}
.loadinggif-outline {
  width: 8%; 
  float: right;
  background:url('../images/ajax-loader.gif') no-repeat right center;
}

/*input {text-transform: uppercase !important;}*/

.homepage-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visible-check{
  pointer-events: none;
  background: #c5c0ba;
}

.btn-today button[ng-click^="select('today')"] {
    display: none;
}

.ui-grid-header-cell.include-scrollbar:last-child .ui-grid-cell-contents {
  margin-right: -20px;
  padding-right: 20px;
}