<script type="text/ng-template" id="_form-detail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">{{"view"|translate}} <strong>{{"detail"|translate}}</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
        <label for="pan" class="col-sm-3 control-label">{{"pan"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="pan" name="pan" ng-model="items.pan"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="companyCode" class="col-sm-3 control-label">{{"company-code"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="companyCode" name="companyCode" ng-model="items.companyCode"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="mid" class="col-sm-3 control-label">{{"mid"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="mid" name="mid" ng-model="items.mid"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="tid" class="col-sm-3 control-label">{{"tid"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="tid" name="tid" ng-model="items.tid"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="flagCancel" class="col-sm-3 control-label">{{'reversal'|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="flagCancel" name="flagCancel" ng-model="items.flagCancel"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="txnType" class="col-sm-3 control-label">{{"transaction-type"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="txnType" name="txnType" ng-model="getValueTrxType(items.txnTypeType)" ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="txnReqDate" class="col-sm-3 control-label">{{"transaction-date"|translate}}</label>
        <div class="col-sm-8">
          <div ng-controller="DatepickerDemoCtrl">
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy HH:mm:ss" id="txnReqDate" name="txnReqDate" placeholder="Start Date" ng-model="items.txnReqDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-disabled="true"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="responseCode" class="col-sm-3 control-label">{{"status-response"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="responseCode" name="responseCode" ng-model="code" ng-init="code = items.responseCode+' - '+items.responseDetail" ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="responseCode" class="col-sm-3 control-label">{{"invoice-number"|translate}}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" ng-model="items.invoice"  ng-disabled="true" >
        </div>
      </div>
    </form>
  <section class="tile" fullscreen="isFullscreen07">
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Detail</strong> Log</h1>
    </div>
    <div class="tile-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>{{"voucher-id"|translate}}</th>
              <th>{{"voucher-type"|translate}}</th>
              <th>{{"amount"|translate}}</th>
              <th>{{"create-date"|translate}}</th>
              <th>{{"expire-date"|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="log in items.txnLogDetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
              <td>{{log.id}}</td>
              <td>{{log.voucherTypeLabel}}</td>
              <td>{{log.amount}}</td>
              <td>{{log.createDate | date : format : timezone}}</td>
              <td>{{log.expiredDate | date : format : timezone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tile-footer dvd dvd-top">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select>
        </div>
        <div class="col-sm-2 text-center">
          <small class="text-muted">{{"total-item"|translate}} {{totalItems}}</small>
        </div>
        <div class="col-sm-7 text-right">
          <ul class="pagination pagination-sm m-0">
            <pagination style="margin: 0px !important;" total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </ul>
        </div>
      </div>
    </div>
  </section>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{"BACK"|translate}}</button>
  </div>
</script>
