<div class="page">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.main}}</a>
        </li>
        <li>
          <a data-ng-click="refresh()" ui-sref="app.category">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <div class="tile-body">
          <accordion>
            <accordion-group is-open="false">
              <accordion-heading>
                <i class="fa fa-search"></i> <span>{{'search'|translate}}</span><i class="pull-right fa" data-ng-class="{'fa-chevron-circle-down': status.open, 'fa-chevron-circle-right': !status.open}"></i>
              </accordion-heading>
              <form name="searchForm" id="searchForm" class="form">
                <div class="row">
                  <div ng-controller="DatepickerDemoCtrl" class="form-group col-md-4">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="createdDate">Transaction Date: </label>
                          <div>
                            <div class="input-group">
                              <input type="text" datepicker-startdate class="form-control" datepicker-popup="{{format}}" id="startTxnReqDate" name="startTxnReqDate" placeholder="Start Date" ng-model="filter.startTxnReqDate" is-open="opened1" datepicker-options="dateOptions" ng-change="toggleMin(filter.startTxnReqDate)" close-text="Close"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" ng-class="{'btn-today': !checkToday(filter.startTxnReqDate)}">
                        <div class="form-group">
                          <label for="date"> </label>
                          <div>
                            <div class="input-group">
                              <input type="text" datepicker-enddate class="form-control" datepicker-popup="{{format}}" id="endTxnReqDate" name="endTxnReqDate" placeholder="End Date" ng-model="filter.endTxnReqDate" min-date="minDate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" style="margin-top: 5px;"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" style="margin-top: 5px;" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="col-3-sm-2 control-label">Transaction Type</label>                                
                     <select ui-jq="chosen" chosen-update-list id="txnType" name="txnType" ng-model="filter.txnTypeId" class="form-control" data-ng-options="obj.id as obj.name for obj in txnTypes">
                      <option value="">{{'MSG_OPTIONS'|translate}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label class="col-3-sm-2 control-label">Response Code</label>                                
                    <input type="text" ng-model="filter.responseCode" class="form-control" />                    
                  </div>
                  <div class="form-group col-md-3">
                    <label class="col-3-sm-2 control-label">PAN</label>                                
                    <input type="text" ng-model="filter.pan" class="form-control" />                    
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label class="col-3-sm-2 control-label">TID</label>                                
                    <input type="text" ng-model="filter.tid" class="form-control" />                    
                  </div>
                  <div class="form-group col-md-3">
                    <label class="col-3-sm-2 control-label">MID</label>                                
                    <input type="text" ng-model="filter.mid" class="form-control" />                            
                  </div>
                  <div class="form-group col-md-2">
                    <label class="col-3-sm-2 control-label">Invoice Number</label>                                
                    <input type="text" ng-model="filter.invoice" class="form-control" />                    
                  </div>
                  <div class="form-group col-md-3" ng-show="isSuperAdmin">
                    <label class="col-3-sm-2 control-label">Company</label>                                
                     <select ui-jq="chosen" chosen-update-list id="companyCode" name="companyCode" ng-model="filter.companyCode" class="form-control" data-ng-options="obj.code as obj.code + ' - ' + obj.name for obj in list.companyList">
                      <option value="">{{'MSG_OPTIONS'|translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3"> 
                        <button class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" ng-click="search()"><i class="fa fa-search"></i> <span ng-style="{'text-align':'center'}">{{"search"|translate}}</span></button>
                    </div>
                 </div>
              </form>
            </accordion-group>
          </accordion>
        </div>

        <section class="tile" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{'transaction-log'|translate}} </strong></h1>
            <button class="btn btn-primary btn-rounded pull-right mr-5" style="padding: 4px 10px" tooltip="Refresh Data" tooltip-placement="top" ng-click="refreshList()"><fa name="refresh"></fa></button>
          </div>

          <!-- tile body -->
          <div class="tile-body">
            <div id="grid1" ng-show="buttonAccess('transaction-log_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
              <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
            </div>
          </div>
          <!-- /tile body -->
        </section>
      </div>
    </div>
  </div>
</div>
<div data-ng-include data-src="'views/voucher/transaction-log/_form-detail.html'"></div>
