<div class="form-group" ng-class="{'has-error' : freegiftForm.minimumAmount.$invalid && !freegiftForm.minimumAmount.$pristine, 'has-success' : freegiftForm.minimumAmount.$valid && !freegiftForm.minimumAmount.$pristine}">
    <label class="control-label col-md-4" for="minimumAmount">Minimum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="minimumAmount" class="form-control" ng-model="promoManager.processorparent.minAmount" placeholder="Minimum Amount" only-digits required/>
        <p class="help-block"><span ng-show="freegiftForm.minimumAmount.$dirty && freegiftForm.minimumAmount.$error.required">Minimum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : freegiftForm.maximumAmount.$invalid && !freegiftForm.maximumAmount.$pristine, 'has-success' : freegiftForm.maximumAmount.$valid && !freegiftForm.maximumAmount.$pristine}">
    <label class="control-label col-md-4" for="maximumAmount">Maximum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="maximumAmount" class="form-control" ng-model="promoManager.processorparent.maxAmount" placeholder="Maximum Amount" only-digits required/>
        <p class="help-block"><span ng-show="freegiftForm.maximumAmount.$dirty && freegiftForm.maximumAmount.$error.required">Maximum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.managerController.dailyLimit > 0) ? true:false" ng-class="{'has-success' : freegiftForm.dailyLimit.$valid && !freegiftForm.dailyLimit.$pristine}">
    <label class="control-label col-md-4" for="dailyLimit">Daily Limit: </label>
    <div class="col-md-6">
        <input type="text" name="dailyLimit" class="form-control" ng-model="promoManager.processorparent.cappingDailyLimit" placeholder="Daily Limit" only-digits />
    </div>
</div>  

<div class="form-group" ng-hide="(promoManager.managerController.monthlyLimit > 0) ? true:false" ng-class="{'has-success' : freegiftForm.monthlyLimit.$valid && !freegiftForm.monthlyLimit.$pristine}">
    <label class="control-label col-md-4" for="monthlyLimit">Monthly Limit: </label>
    <div class="col-md-6">
        <input type="text" name="monthlyLimit" class="form-control" ng-model="promoManager.processorparent.cappingMonthlyLimit" placeholder="Monthly Limit" only-digits />
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.managerController.userLimit > 0) ? true:false" ng-class="{'has-success' : freegiftForm.userLimit.$valid && !freegiftForm.userLimit.$pristine}">
    <label class="control-label col-md-4" for="userLimit">User Limit: </label>
    <div class="col-md-6">
        <input type="text" name="userLimit" class="form-control" ng-model="promoManager.processorparent.cappingUserLimit" placeholder="User Limit" only-digits />
    </div>
</div> 

<div class="form-group"  ng-class="{'has-error' : freegiftForm.isCappingMerchant.$invalid && !freegiftForm.isCappingMerchant.$pristine, 'has-success' : freegiftForm.isCappingMerchant.$valid && !freegiftForm.isCappingMerchant.$pristine }">
    <label class="control-label col-md-4">Merchant Capping: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.cappingMerchantFlag" name="isCappingMerchant" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group"  ng-class="{'has-error' : freegiftForm.isRejectTransaction.$invalid && !freegiftForm.isRejectTransaction.$pristine, 'has-success' : freegiftForm.isRejectTransaction.$valid && !freegiftForm.isRejectTransaction.$pristine }">
    <label class="control-label col-md-4">Reject Transaction: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.rejectTransactionFlag" name="isRejectTransaction" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : freegiftForm.promoTag.$invalid && !freegiftForm.promoTag.$pristine, 'has-success' : freegiftForm.promoTag.$valid && !freegiftForm.promoTag.$pristine}">
    <label class="control-label col-md-4" for="promoTag">Promo TAG: </label>
    <div class="col-md-6">
        <input type="text" name="promoTag" class="form-control" ng-model="promoManager.processorparent.promoTag" placeholder="Promo TAG" required/>
        <p class="help-block"><span ng-show="freegiftForm.promoTag.$dirty && freegiftForm.promoTag.$error.required">Promo TAG is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : freegiftForm.message.$invalid && !freegiftForm.message.$pristine, 'has-success' : freegiftForm.message.$valid && !freegiftForm.message.$pristine}">
    <label class="control-label col-md-4" for="message">Success Message: </label>
    <div class="col-md-6">
        <input type="text" name="message" class="form-control" ng-model="promoManager.processorparent.message" placeholder="Message" required/>
        <p class="help-block"><span ng-show="freegiftForm.message.$dirty && freegiftForm.message.$error.required">Message is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : freegiftForm.failureMessage.$invalid && !freegiftForm.failureMessage.$pristine, 'has-success' : freegiftForm.failureMessage.$valid && !freegiftForm.failureMessage.$pristine}">
    <label class="control-label col-md-4" for="failureMessage">Failure Message: </label>
    <div class="col-md-6">
        <input type="text" name="failureMessage" class="form-control" ng-model="promoManager.processorparent.failMessage" placeholder="Failure Message" required/>
        <p class="help-block"><span ng-show="freegiftForm.failureMessage.$dirty && freegiftForm.failureMessage.$error.required">Message is required.</span></p>
    </div>
</div> 

<div class="modal-footer">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                Cancel
            </button>               
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-hide="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)" ng-disabled="!freegiftForm.$valid">
                <i class="fa fa-arrow-right"></i> 
                Submit
            </button>
            <button type="submit" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c" ng-show="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)">
                <i class="fa fa-arrow-right"></i>
                Update
            </button>     
        </div>
</div>