


<div class="form-group" ng-class="{'has-error' : directdiscountForm.discountAmount.$invalid && !directdiscountForm.discountAmount.$pristine, 'has-success' : directdiscountForm.discountAmount.$valid && !directdiscountForm.discountAmount.$pristine}">
    <label class="control-label col-md-4" for="discountAmount">Discount Amount: </label>
    <div class="col-md-6">
        <input type="text" name="discountAmount" class="form-control" ng-model="promoManager.processorparent.fixAmount" placeholder="Discount Amount" only-digits required/>
        <p class="help-block"><span ng-show="directdiscountForm.discountAmount.$dirty && directdiscountForm.discountAmount.$error.required">Discount Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : directdiscountForm.discountPercentage.$invalid && !directdiscountForm.discountPercentage.$pristine, 'has-success' : directdiscountForm.discountPercentage.$valid && !directdiscountForm.discountPercentage.$pristine}">
    <label class="control-label col-md-4" for="discountPercentage">Discount Percentage (%): </label>
    <div class="col-md-6">
        <input type="text" name="discountPercentage" class="form-control" ng-model="promoManager.processorparent.percentageAmount" placeholder="Discount Percentage" only-digits required/>
        <p class="help-block"><span ng-show="directdiscountForm.discountPercentage.$dirty && directdiscountForm.discountPercentage.$error.required">Discount Percentage is required.</span></p>
    </div>
</div> 

<div class="form-group"  ng-class="{ 'has-error' : (directdiscountForm.priority.$invalid && !directdiscountForm.priority.$pristine) || directdiscountForm.priority2.$invalid && !directdiscountForm.priority2.$pristine, 'has-success' : (directdiscountForm.priority.$valid && !directdiscountForm.priority.$pristine) || directdiscountForm.priority2.$valid && !directdiscountForm.priority2.$pristine }">
    <label class="control-label col-md-4">Priority: </label>                        
    <div class="col-md-6" >
        <label class="radio checkbox-custom checkbox-custom-sm" >
            <input type="radio" ng-model="promoManager.processorparent.priority" name="priority" value="1" ><i></i> 1
        </label>     
        <label class="radio checkbox-custom checkbox-custom-sm" >
            <input type="radio" ng-model="promoManager.processorparent.priority" name="priority2" value="2" ><i></i> 2
        </label>     
        <p ng-show="directdiscountForm.priority.$error.match" class="help-block">Please Select Priority.</p>
        <p ng-show="submitted && priority.$invalid" class="help-block">Priority is required.</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : directdiscountForm.minimumAmount.$invalid && !directdiscountForm.minimumAmount.$pristine, 'has-success' : directdiscountForm.minimumAmount.$valid && !directdiscountForm.minimumAmount.$pristine}">
    <label class="control-label col-md-4" for="minimumAmount">Minimum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="minimumAmount" class="form-control" ng-model="promoManager.processorparent.minAmount" placeholder="Minimum Amount" only-digits required/>
        <p class="help-block"><span ng-show="directdiscountForm.minimumAmount.$dirty && directdiscountForm.minimumAmount.$error.required">Minimum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : directdiscountForm.maximumAmount.$invalid && !directdiscountForm.maximumAmount.$pristine, 'has-success' : directdiscountForm.maximumAmount.$valid && !directdiscountForm.maximumAmount.$pristine}">
    <label class="control-label col-md-4" for="maximumAmount">Maximum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="maximumAmount" class="form-control" ng-model="promoManager.processorparent.maxAmount" placeholder="Maximum Amount" only-digits required/>
        <p class="help-block"><span ng-show="directdiscountForm.maximumAmount.$dirty && directdiscountForm.maximumAmount.$error.required">Maximum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group"  ng-class="{'has-error' : directdiscountForm.serviceCharge.$invalid && !directdiscountForm.serviceCharge.$pristine, 'has-success' : directdiscountForm.serviceCharge.$valid && !directdiscountForm.serviceCharge.$pristine }">
    <label class="control-label col-md-4">Service Charge: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.additionalServiceCharge" name="serviceCharge" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group"  ng-hide="(promoManager.processorparent.additionalServiceCharge) ? false:true" ng-class="{'has-success' : directdiscountForm.isGrossAmount.$valid && !directdiscountForm.isGrossAmount.$pristine }">
    <label class="control-label col-md-5">Gross Amount: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.grossAmountFlag" name="isGrossAmount" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group" ng-hide="(promoManager.processorparent.additionalServiceCharge) ? false:true" ng-class="{'has-success' : directdiscountForm.serviceChargePercentage.$valid && !directdiscountForm.serviceChargePercentage.$pristine }">
    <label class="control-label col-md-5" for="serviceChargePercentage">Service Charge Percentage (%): </label>
    <div class="col-md-6">
        <input type="text" name="serviceChargePercentage" class="form-control" ng-model="promoManager.processorparent.serviceCharge" placeholder="Service Charge  Percentage" only-digits />
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.processorparent.additionalServiceCharge) ? false:true" ng-class="{'has-success' : directdiscountForm.taxPercentage.$valid && !directdiscountForm.taxPercentage.$pristine }">
    <label class="control-label col-md-5" for="taxPercentage">Tax Percentage (%): </label>
    <div class="col-md-6">
        <input type="text" name="taxPercentage" class="form-control" ng-model="promoManager.processorparent.tax" placeholder="Tax Percentage" only-digits />
    </div>
</div> 

<div class="form-group"  ng-class="{'has-error' : directdiscountForm.isCappingMaxDiscount.$invalid && !directdiscountForm.isCappingMaxDiscount.$pristine, 'has-success' : directdiscountForm.isCappingMaxDiscount.$valid && !directdiscountForm.isCappingMaxDiscount.$pristine }">
    <label class="control-label col-md-4">Capping Max Discount: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.cappingMaxDiscountFlag" name="isCappingMaxDiscount" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group" ng-hide="(promoManager.processorparent.cappingMaxDiscountFlag) ? false:true" ng-class="{'has-success' : directdiscountForm.cappingAmount.$valid && !directdiscountForm.cappingAmount.$pristine }">
    <label class="control-label col-md-5" for="maxDiscountAmount">Max Discount Amount: </label>
    <div class="col-md-6">
        <input type="text" name="cappingAmount" class="form-control" ng-model="promoManager.processorparent.cappingAmount" placeholder="Max Discount Amount" only-digits />
    </div>
</div> 

<div class="form-group"  ng-class="{'has-error' : directdiscountForm.isCappingMerchant.$invalid && !directdiscountForm.isCappingMerchant.$pristine, 'has-success' : directdiscountForm.isCappingMerchant.$valid && !directdiscountForm.isCappingMerchant.$pristine }">
    <label class="control-label col-md-4">Merchant Capping: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.cappingMerchantFlag" name="isCappingMerchant" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group"  ng-class="{'has-error' : directdiscountForm.isRejectTransaction.$invalid && !directdiscountForm.isRejectTransaction.$pristine, 'has-success' : directdiscountForm.isRejectTransaction.$valid && !directdiscountForm.isRejectTransaction.$pristine }">
    <label class="control-label col-md-4">Reject Transaction: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.rejectTransactionFlag" name="isRejectTransaction" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group" ng-hide="(promoManager.managerController.dailyLimit > 0) ? true:false" ng-class="{'has-success' : directdiscountForm.dailyLimit.$valid && !directdiscountForm.dailyLimit.$pristine}">
    <label class="control-label col-md-4" for="dailyLimit">Daily Limit: </label>
    <div class="col-md-6">
        <input type="text" name="dailyLimit" class="form-control" ng-model="promoManager.processorparent.cappingDailyLimit" placeholder="Daily Limit" only-digits />
    </div>
</div>  

<div class="form-group" ng-hide="(promoManager.managerController.monthlyLimit > 0) ? true:false" ng-class="{'has-success' : directdiscountForm.monthlyLimit.$valid && !directdiscountForm.monthlyLimit.$pristine}">
    <label class="control-label col-md-4" for="monthlyLimit">Monthly Limit: </label>
    <div class="col-md-6">
        <input type="text" name="monthlyLimit" class="form-control" ng-model="promoManager.processorparent.cappingMonthlyLimit" placeholder="Monthly Limit" only-digits />
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.managerController.userLimit > 0) ? true:false" ng-class="{'has-success' : directdiscountForm.userLimit.$valid && !directdiscountForm.userLimit.$pristine}">
    <label class="control-label col-md-4" for="userLimit">User Limit: </label>
    <div class="col-md-6">
        <input type="text" name="userLimit" class="form-control" ng-model="promoManager.processorparent.cappingUserLimit" placeholder="User Limit" only-digits />
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : directdiscountForm.promoTag.$invalid && !directdiscountForm.promoTag.$pristine, 'has-success' : directdiscountForm.promoTag.$valid && !directdiscountForm.promoTag.$pristine}">
    <label class="control-label col-md-4" for="promoTag">Promo TAG: </label>
    <div class="col-md-6">
        <input type="text" name="promoTag" class="form-control" ng-model="promoManager.processorparent.promoTag" placeholder="Promo TAG" required/>
        <p class="help-block"><span ng-show="directdiscountForm.promoTag.$dirty && directdiscountForm.promoTag.$error.required">Promo TAG is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : directdiscountForm.message.$invalid && !directdiscountForm.message.$pristine, 'has-success' : directdiscountForm.message.$valid && !directdiscountForm.message.$pristine}">
    <label class="control-label col-md-4" for="message">Message: </label>
    <div class="col-md-6">
        <input type="text" name="message" class="form-control" ng-model="promoManager.processorparent.message" placeholder="Message" required/>
        <!-- <textarea name="message" class="form-control" ng-model="promoManager.processorparent.message" placeholder="Message" required></textarea> -->
        <p class="help-block"><span ng-show="directdiscountForm.message.$dirty && directdiscountForm.message.$error.required">Message is required.</span></p>
    </div>
</div> 

<div class="modal-footer">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                Cancel
            </button>               
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-hide="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)" ng-disabled="!directdiscountForm.$valid">
                <i class="fa fa-arrow-right"></i> 
                Submit
            </button>
            <button type="submit" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c" ng-show="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)">
                <i class="fa fa-arrow-right"></i>
                Update
            </button>     
        </div>
</div>