<script type = "text/ng-template" id="/DirectDiscountProcessor-save.html">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
	    <h3 class="modal-title custom-font"  ng-hide="{{promomanager.processorparent.editmode}}"><b>Add New</b> Direct Discount Processor</h3>
	    <h3 class="modal-title custom-font"  ng-show="{{promomanager.processorparent.editmode}}"><b>Update</b> Direct Discount Processor</h3>
	</div>

	<div class="modal-body">
	    <form class="form-horizontal" name="directdiscountForm">
	        <div ng-include src="'views/processor/directDiscount/_form.html'"></div>
	    </form>
	</div>
</div>
</script>	