<div class="page page-core page-login homepage-background">
  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred"></span></h3></div>
  <div class="container w-420 p-15 bg-white mt-120 text-center" style="border-radius: 10px !important;">
    <h2>{{webTitle}}</h2>
    <div style="margin: 0px 0px 10px 10px; color:red;"><i class="help-inline error">{{message}}</i></div>
    <form name="form" class="form-validation mt-20" novalidate>
      <div class="form-group">
        <input type="text" class="form-control underline-input" placeholder="Username" ng-model="user.username" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input" ng-model="user.password" required>
      </div>
      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-danger b-0 br-2 mr-5" ng-click="login()" ng-disabled='form.$invalid'>{{"LOGIN"|translate}}</button>
        <a href="" class="pull-right mt-10" ng-click="open_forgot_password_modal()">{{"forgot-password"|translate}}</a>
      </div>
    </form>
  </div>
</div>
<script type="text/ng-template" id="forgotpassmodal.html">
  <div class="modal-header">
    <h3 class="modal-title custom-font text-center">{{"information"|translate}}</h3>
  </div>
  <div class="modal-body">
    {{"message-reset"|translate}}
    <hr class="line-dashed line-full"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{"close"|translate}}</button>
  </div>
</script>