<div class="page page-core page-login">

  <div class="container w-420 p-15 bg-white mt-40 text-center">

    <h2 class="text-light text-greensea">Error <strong>404</strong></h2>

    <h4 class="mb-0 mt-40">something's not right here</h4>

    <p class="text-muted">the page you are looking for cannot be found</p>

  </div>

</div>
