<div class="form-group" ng-class="{ 'has-error' : masterPromoForm.name.$invalid && !masterPromoForm.name.$pristine, 'has-success' : masterPromoForm.name.$valid && !masterPromoForm.name.$pristine}">
    <label class="control-label col-md-3" for="name">Promo Name: </label>
    <div class="col-md-8">
        <input type="text" name="name" id="name" class="form-control" ng-model="$parent.items.name" placeholder="Promo Name" required/>
        <p class="help-block"><span ng-show="masterPromoForm.name.$dirty && masterPromoForm.name.$error.required">Promo Name is required.</span></p>
    </div>
</div>  

<div class="form-group" ng-class="{ 'has-error' : masterPromoForm.promoProcessor.$invalid && !masterPromoForm.promoProcessor.$pristine, 'has-success' : masterPromoForm.promoProcessor.$valid && !masterPromoForm.promoProcessor.$pristine}">
    <label class="control-label col-md-3" for="promoProcessor">Promo Processor: </label>
    <div class="col-md-8">
        <input type="text" name="promoProcessor" id="promoProcessor" class="form-control" ng-model="$parent.items.processor" placeholder="Promo Processor Code" required/>
        <p class="help-block"><span ng-show="masterPromoForm.promoProcessor.$dirty && masterPromoForm.promoProcessor.$error.required">Promo Processor is required.</span></p>
    </div>
</div>  
<div ng-init="$parent.items.isdeleted = 0"></div> 
<!-- <div class="form-group"  ng-class="{ 'has-error' : masterPromoForm.status.$invalid && !masterPromoForm.status.$pristine, 'has-success' : masterPromoForm.status.$valid && !masterPromoForm.status.$pristine}">
    <label class="control-label col-md-3">Status </label>
    <div class="col-md-8">        
        <select class="form-control mb-10" name="status" ng-model="$parent.items.status" required>
            <option value="">-- Please Select --</option>
            <option value="1">Active</option>
            <option value="0">Block</option>
        </select>
        <p class="help-block"><span ng-show="masterPromoForm.status.$match">Please Select Status.</span></p>
        <p class="help-block"><span ng-show="masterPromoForm.status.$dirty && masterPromoForm.status.$error.required">Status is required.</span></p>
    </div>
</div> -->