<script type = "text/ng-template" id="_form-merchant.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h3 class="modal-title custom-font"  ng-hide="{{merchant.editmode}}"><b>Adding New</b> Merchant</h3>
      <h3 class="modal-title custom-font"  ng-show="{{merchant.editmode}}"><b>Update</b> Merchant</h3>
  </div>

  <div class="modal-body">
      <form class="form-horizontal" name="merchantForm">
          <div ng-include src="'views/administration/merchant-group/_form-merchant-details.html'"></div>
      </form>
  </div>

</script> 