<!--USERNAME by EMAIL -->
<div class="form-group" ng-class="{ 'has-error' : merchantForm.mid.$invalid && !merchantForm.mid.$pristine, 'has-success' : merchantForm.mid.$valid && !merchantForm.mid.$pristine}">
    <label class="control-label col-md-3" for="mid">MID: </label>
    <div class="col-md-8">
        <input type="text" name="mid" id="mid" ng-disabled="{{(merchant.editmode) ? true:false}}" class="form-control" ng-model="merchant.mid" ng-maxlength="15" placeholder="mid" required/>
        <p class="help-block"><span ng-show="merchantForm.mid.$dirty && merchantForm.mid.$error.required">MID is required.</span></p>
        <p class="help-block"><span ng-show="merchantForm.mid.$dirty && merchantForm.mid.$error.maxlength">MID Too Long.</span></p>
    </div>
</div>  

<!-- <hr class="line-dashed line-full" ng-hide="{{user.editmode}}"/> -->
<div class="form-group"  ng-class="{ 'has-error' : merchantForm.company_id.$invalid && !merchantForm.company_id.$pristine, 'has-success' : merchantForm.company_id.$valid && !merchantForm.company_id.$pristine}">
    <label class="control-label col-md-3">Company </label>
    <div class="col-md-8">        
        <select class="form-control mb-10" name="company_id" ng-model="merchant.company.id" ng-options='company.id as company.name for company in companies' required>
            <option value="">-- Please Select --</option>
        </select>
        <p class="help-block"><span ng-show="merchantForm.company_id.$match">Please Select Company.</span></p>
        <p class="help-block"><span ng-show="merchantForm.company_id.$dirty && merchantForm.company_id.$error.required">Company is required.</span></p>
    </div>
</div>

<div class="form-group"  ng-class="{ 'has-error' : merchantForm.status.$invalid && !merchantForm.status.$pristine, 'has-success' : merchantForm.status.$valid && !merchantForm.status.$pristine}">
    <label class="control-label col-md-3">Status </label>
    <div class="col-md-8">        
        <select class="form-control mb-10" name="status" ng-model="merchant.status" required>
            <option value="">-- Please Select --</option>
            <option value="1">Active</option>
            <option value="0">Block</option>
        </select>
        <p class="help-block"><span ng-show="merchantForm.status.$match">Please Select Company.</span></p>
        <p class="help-block"><span ng-show="merchantForm.status.$dirty && merchantForm.status.$error.required">Status is required.</span></p>
    </div>
</div>

<div class="form-group" ng-class="{ 'has-error' : merchantForm.storecode.$invalid && !merchantForm.storecode.$pristine, 'has-success' : merchantForm.storecode.$valid && !merchantForm.storecode.$pristine}">
    <label class="control-label col-md-3" for="storecode">Store Code: </label>
    <div class="col-md-8">
        <input type="text" name="storecode" id="storecode" class="form-control" ng-model="merchant.storecode" placeholder="Store Code"/>
    </div>
</div> 

<div class="form-group" ng-class="{ 'has-error' : merchantForm.storename.$invalid && !merchantForm.storename.$pristine, 'has-success' : merchantForm.storename.$valid && !merchantForm.storename.$pristine}">
    <label class="control-label col-md-3" for="storename">Store Name: </label>
    <div class="col-md-8">
        <input type="text" name="storename" id="storename" class="form-control" ng-model="merchant.storename" placeholder="Store Name"/>
    </div>
</div> 

<div class="form-group" ng-class="{ 'has-error' : merchantForm.store_pic.$invalid && !merchantForm.store_pic.$pristine, 'has-success' : merchantForm.store_pic.$valid && !merchantForm.store_pic.$pristine}">
    <label class="control-label col-md-3" for="store_pic">Store PIC: </label>
    <div class="col-md-8">
        <input type="text" name="store_pic" id="store_pic" class="form-control" ng-model="merchant.store_pic" placeholder="Store PIC"/>
    </div>
</div> 

<div class="form-group" ng-class="{ 'has-error' : merchantForm.store_pic_title.$invalid && !merchantForm.store_pic_title.$pristine, 'has-success' : merchantForm.store_pic_title.$valid && !merchantForm.store_pic_title.$pristine}">
    <label class="control-label col-md-3" for="store_pic_title">Store PIC Title: </label>
    <div class="col-md-8">
        <input type="text" name="store_pic_title" id="store_pic_title" class="form-control" ng-model="merchant.store_pic_title" placeholder="Store PIC Title"/>
    </div>
</div> 

<div class="form-group" ng-class="{ 'has-error' : merchantForm.store_head_office.$invalid && !merchantForm.store_head_office.$pristine, 'has-success' : merchantForm.store_head_office.$valid && !merchantForm.store_head_office.$pristine}">
    <label class="control-label col-md-3" for="store_head_office">Store Head Office: </label>
    <div class="col-md-8">
        <input type="text" name="store_head_office" id="store_head_office" class="form-control" ng-model="merchant.store_head_office" placeholder="Store Head Office"/>
    </div>
</div> 

<div class="modal-footer">
  <div class="col-sm-10 col-sm-offset-2">
    <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
      <i class="fa fa-arrow-left"></i>
      Cancel
    </button>               
    <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-hide="{{merchant.editmode}}" ng-click="ok(merchant)" ng-disabled="!merchantForm.$valid">
      <i class="fa fa-arrow-right"></i> 
      Submit
    </button>
    <button type="submit" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c" ng-show="{{merchant.editmode}}" ng-click="ok(merchant)">
      <i class="fa fa-arrow-right"></i>
      Update
    </button>     
  </div>
</div>