<script type="text/ng-template" id="_form-group.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h3 class="modal-title custom-font"  ng-hide="{{groups.editmode}}"><b>Adding New</b> Group</h3>
      <h3 class="modal-title custom-font"  ng-show="{{groups.editmode}}"><b>Update</b> Group</h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" name="groupsForm">
      <div ng-include src="'views/administration/merchant-group/_form-group-details.html'"></div>
    </form>
  </div>
</script>
