<div class="form-group" ng-class="{ 'has-error' : groupsForm.name.$invalid && !groupsForm.name.$pristine, 'has-success' : groupsForm.name.$valid && !groupsForm.name.$pristine}">
    <label class="control-label col-md-3" for="name">Groups Name: </label>
    <div class="col-md-8">
        <input type="text" name="name" id="name" class="form-control" ng-model="groups.name" placeholder="Groups Name" required/>
        <p class="help-block"><span ng-show="groupsForm.name.$dirty && groupsForm.name.$error.required">Group Name is required.</span></p>
    </div>
</div>  

<div class="form-group"  ng-class="{ 'has-error' : groupsForm.status.$invalid && !groupsForm.status.$pristine, 'has-success' : groupsForm.status.$valid && !groupsForm.status.$pristine}">
    <label class="control-label col-md-3">Status </label>
    <div class="col-md-8">        
        <select class="form-control mb-10" name="status" ng-model="groups.status" required>
            <option value="">-- Please Select --</option>
            <option value="1">Active</option>
            <option value="0">Block</option>
        </select>
        <p class="help-block"><span ng-show="groupsForm.status.$match">Please Select Status.</span></p>
        <p class="help-block"><span ng-show="groupsForm.status.$dirty && groupsForm.status.$error.required">Status is required.</span></p>
    </div>
</div>

<div class="modal-footer">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                Cancel
            </button>               
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-hide="{{groups.editmode}}" ng-click="ok(groups)" ng-disabled="!groupsForm.$valid">
                <i class="fa fa-arrow-right"></i> 
                Submit
            </button>
            <button type="submit" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c" ng-show="{{groups.editmode}}" ng-click="ok(groups)">
                <i class="fa fa-arrow-right"></i>
                Update
            </button>     
        </div>
</div>