<form class="form-horizontal" ng-controller="MerchantGroupCtrl" role="form" name="form">
  <div class="form-group form-inline" ng-class="{ 'has-error' : form.group.$invalid, 'has-success' : form.group.$valid && !form.group.$pristine}">
  <label class="control-label col-md-2" for="group">Select Group: </label>
    <div class="col-md-4">
      <select ui-jq="chosen" chosen-update-list chosen-update-so name="group" id="group" ng-model="$parent.items.groups" class="form-control" data-ng-options="obj as obj.name for obj in list.groups" required>
        <option value="" selected hidden />
      </select>
      <p class="help-block"><span ng-show="form.group.$invalid && !form.group.$pristine">{{'error_required'|translate}}</span></p>
    </div>  
    <button type="submit" ng-disabled="step1.$invalid" class="btn btn-rounded btn-success btn-sm" ng-click="open_group_form()"><fa name="plus"></button>
  </div>

  <div class="form-group form-inline" ng-class="{ 'has-error' : form.merchant.$invalid, 'has-success' : form.merchant.$valid && !form.merchant.$pristine}">
  <label class="control-label col-md-2" for="merchant">Select Merchant: </label>
    <div class="col-md-4">
      <select ui-jq="chosen" chosen-update-list chosen-update-so name="merchant" id="merchant" ng-model="$parent.items.merchants" class="form-control" data-ng-options="obj as obj.mid for obj in list.merchants" required>
        <option value="" selected hidden />
      </select>
      <p class="help-block"><span ng-show="form.merchant.$invalid && !form.merchant.$pristine">{{'error_required'|translate}}</span></p>
    </div>  
    <button type="submit" ng-disabled="step1.$invalid" class="btn btn-rounded btn-success btn-sm" ng-click="open_merchant_form()"><fa name="plus"></button>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2"></div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-success" ng-click="ok(merchant)" ng-disabled="!form.$valid">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </div>
</form>