<div class="page">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.main}}</a>
        </li>
        <li>
          <a data-ng-click="refresh()" ui-sref="app.category">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="tile-body">
          <accordion>
            <accordion-group is-open="false">
              <accordion-heading>
                <i class="fa fa-search"></i> <span>{{'search'|translate}}</span><i class="pull-right fa" data-ng-class="{'fa-chevron-circle-down': status.open, 'fa-chevron-circle-right': !status.open}"></i>
              </accordion-heading>
              <form name="searchForm" id="" class="form">
                
              </form>
            </accordion-group>
          </accordion>
        </div> -->

        <section class="tile" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{"merchant-group"|translate}} </strong></h1>
            <button class="btn btn-primary btn-rounded pull-right mr-5" style="padding: 4px 10px" tooltip="Refresh Data" tooltip-placement="top" ng-click="refresh()"><fa name="refresh"></fa></button>
          </div>
          <!-- tile body -->
          <div class="tile-body">
            <!-- <pre>{{items|json}}</pre> -->
            <div class="row">
              <div ng-include src="'views/administration/merchant-group/_input-form-merchant-group.html'"></div>
              <hr class="line-dashed line-full">
            </div>

            <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
              <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
            </div>
          </div>
          <!-- /tile body -->
        </section>
      </div>
    </div>
  </div>
</div>
<div data-ng-include data-src="'views/administration/merchant-group/_form-group.html'"></div>
<div data-ng-include data-src="'views/administration/merchant-group/_form-merchant.html'"></div>
