<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button name="reset" type="submit" tooltip="RESET PASSWORD" tooltip-placement="bottom" class="btn btn-xs btn-danger btn-rounded" ng-approved-title ="RESET" ng-approved-message="Are you sure that you want to RESET this?" ng-approved-click="grid.appScope.reset(row.entity)">
        <i class="fa fa-refresh"></i> 
      </button>
    </td>
  </tr>
</div>
