<script type="text/ng-template" id="_form-detail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">View <strong>Detail</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" name="username" ng-model="items.username"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Nama</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" ng-model="items.fullname"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Alamat Email </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="email" name="email" ng-model="items.email"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">No Telepon </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="telp" name="telp" ng-model="items.phone" ng-disabled="true" >
        </div>
      </div>
      <div class="form-group" >
        <label for="city" class="col-sm-3 control-label">Role </label>
        <div class="col-sm-8" >
          <input type="text" class="form-control" id="role" name="role" ng-model="items.role" ng-disabled="true" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
</script>
