<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button name="details" type="submit" tooltip="View Detail" tooltip-placement="bottom" class="btn btn-xs btn-blue btn-rounded" data-ng-click="grid.appScope.detail(row.entity)">
        <i class="fa fa-list"></i>
      </button>
      <button name="edit" type="submit" tooltip="Edit" tooltip-placement="bottom" class="btn btn-xs btn-blue btn-rounded" data-ng-click="grid.appScope.create(row.entity)">
        <i class="fa fa-pencil"></i>
      </button>
      <button name="delete" type="submit" tooltip="Delete" tooltip-placement="bottom" ng-remove-message="Are you sure that you want to delete this item?" ng-remove-click="grid.appScope.delete(row.entity)" class="btn btn-xs btn-lightred btn-rounded">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</div>

