<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title custom-font">{{"create"|translate}}<strong> {{"user"|translate}}</strong></h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="form">
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">{{"username"|translate}} </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.username.$invalid, 'has-success' : form.username.$valid && !form.username.$pristine}">
        <input type="text" class="form-control" id="username" name="username" ng-pattern="/^[0-9a-zA-Z_]*$/" ng-trim="false" ng-model="items.username" ng-maxlength="20" ng-minlength="3" ng-disabled="items.editMode" required>
        <p class="help-block mb-0" ng-show="form.username.$error.required && !form.username.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.username.$error.maxlength && !form.username.$pristine">{{'error_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.username.$error.minlength && !form.username.$pristine">{{'error_min_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.username.$error.pattern && !form.username.$pristine">{{'error_format'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">{{"first-name"|translate}} </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.name.$invalid, 'has-success' : form.name.$valid && !form.name.$pristine}">
        <input type="text" class="form-control" id="name" name="name" ng-model="items.firstName" ng-maxlength="30" required>
        <p class="help-block mb-0" ng-show="form.name.$error.required && !form.name.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.name.$error.maxlength && !form.name.$pristine">{{'error_length'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">{{"last-name"|translate}} </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.name.$invalid, 'has-success' : form.name.$valid && !form.name.$pristine}">
        <input type="text" class="form-control" id="name" name="name" ng-model="items.lastName" ng-maxlength="30" required>
        <p class="help-block mb-0" ng-show="form.name.$error.required && !form.name.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.name.$error.maxlength && !form.name.$pristine">{{'error_length'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">{{"email"|translate}} </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.email.$invalid, 'has-success' : form.email.$valid && !form.email.$pristine}">
        <input type="text" class="form-control" id="email" name="email" data-ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" ng-model="items.email" ng-maxlength="100" required>
        <p class="help-block mb-0" ng-show="form.email.$error.required && !form.email.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.email.$error.maxlength && !form.email.$pristine">{{'error_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.email.$error.pattern && !form.email.$pristine">{{'error_pattern'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">{{"phone-number"|translate}}</label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.telp.$invalid, 'has-success' : form.telp.$valid && !form.telp.$pristine}">
        <input type="text" class="form-control" id="telp" name="telp" ng-model="items.phone" ng-maxlength="20" ng-pattern="/^[0-9]+$/">
        <p class="help-block mb-0" ng-show="form.telp.$error.required && !form.telp.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.telp.$error.maxlength && !form.telp.$pristine">maksimal 20 angka</p>
        <p class="help-block mb-0" ng-show="form.telp.$error.pattern && !form.telp.$pristine">harus format angka</p>
      </div>
    </div>
    <div class="form-group">
      <label for="role" class="col-sm-3 control-label">Role </label> 
      <div class="col-sm-8" ng-class="{ 'has-error' : form.role.$invalid, 'has-success' : form.role.$valid && !form.role.$pristine}">
        <select ui-jq="chosen" chosen-update-list id="role" name="role" ng-model="items.roleId" ng-change="exactSearch.categoryCode=true" class="form-control" data-ng-options="obj.roleId as obj.roleName for obj in list.roles" required>
          <option value="">{{'MSG_OPTIONS'|translate}}</option>
        </select>
        <p class="help-block mb-0" ng-show="form.role.$error.required && !form.role.$pristine">{{'error_required'|translate}}</p>
      </div>
    </div>
    <hr class="line-dashed line-full">
    <div ng-show="items.editMode !== true" class="form-group">
      <label for="name" class="col-sm-3 control-label">Password </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.password.$invalid, 'has-success' : form.password.$valid && !form.password.$pristine}">
        <input type="password" class="form-control" id="password" name="password" ng-model="items.password" ng-required="items.editMode !== true">
        <p class="help-block mb-0" ng-show="form.password.$error.required && !form.password.$pristine">{{'error_required'|translate}}</p>
      </div>
    </div>
    <div ng-show="items.editMode !== true" class="form-group">
      <label for="name" class="col-sm-3 control-label">Password confirmation </label>
      <div class="col-sm-8"  ng-class="{ 'has-error' : form.passwordConfirm.$invalid && !form.passwordConfirm.$pristine, 'has-success' : form.passwordConfirm.$valid && !form.passwordConfirm.$pristine}">
        <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==items.password' " ui-validate-watch=" 'items.password' " ng-required="items.editMode !== true">
        <p class="help-block">
          <span ng-show='form.passwordConfirm.$error.validator'>{{"passwor_not_match"|translate}}</span>
          <span ng-show="form.passwordConfirm.$error.required && !form.passwordConfirm.$pristine">{{'error_required'|translate}}</span>
        </p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="form.$invalid" ng-click="create_item(items)"><i class="fa fa-arrow-right"></i> Submit</button>
</div>

<!--
<div class="row">
<div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" class="form-control" ng-model="items.newPassword" ng-minlength="6" required>
  <p class="help-block">
    <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
    <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
  </p>
</div>
<div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
  <label for="passwordConfirm">Password confirmation: </label>
  <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==items.newPassword' " ui-validate-watch=" 'items.newPassword' " required>
  <p class="help-block">
    <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
  </p>
</div>
-->