<script type="text/ng-template" id="userProfile.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">User<strong> Profile</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" name="username" ng-model="users.username"  ng-disabled="true" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" ng-model="users.fullname"  ng-disabled="editMode" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Email </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="email" name="email" ng-model="users.email"  ng-disabled="editMode" >
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Phone Number </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="telp" name="telp" ng-model="users.phone" ng-disabled="editMode" >
        </div>
      </div>
      <div class="form-group" >
        <label for="city" class="col-sm-3 control-label">Group </label>
        <div class="col-sm-8" >
          <input type="text" class="form-control" id="group" name="group" ng-model="users.groupName" ng-disabled="true" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-ef btn-ef-4 btn-ef-4c" ng-click="editMode ? setFalse() : update(users)"><i class="fa fa-arrow-left"></i> {{txtBtn}}</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{"close"|translate}}</button>
  </div>
</script>
