<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button type="submit" title="Download Upload Success" class="btn btn-xs btn-success btn-rounded" ng-show="row.entity.successCount" data-ng-click="grid.appScope.downloadSuccess(row.entity)">
        <i class="fa fa-download"></i> {{row.entity.successCount}}
      </button>
    </td>
  </tr>
</div>
