<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button type="submit" title="Download" class="btn btn-xs btn-success btn-rounded" ng-show="row.entity.urlFile" data-ng-click="grid.appScope.download(row.entity)">
        <i class="fa fa-download"></i>
      </button>
    </td>
  </tr>
</div>
