<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button type="submit" title="Download Upload Failed" class="btn btn-xs btn-red btn-rounded" ng-show="row.entity.failedCount" data-ng-click="grid.appScope.downloadFailed(row.entity)">
        <i class="fa fa-download"></i> {{row.entity.failedCount}}
      </button>
    </td>
  </tr>
</div>
