<div class="form-group">
  <label for="createBy" class="col-sm-3 control-label">Create By</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" name="createBy" id="createBy" placeholder="Create By" ng-model="items[0].createdBy" >
  </div>
</div>

<div class="form-group">
  <label for="createDate" class="col-sm-3 control-label">Create Date</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" name="createDate" id="createDate" placeholder="Create Date" ng-model="items[0].createdDate" datepicker-popup="dd-MM-yyyy HH:mm:ss">
  </div>
</div>

<div class="form-group">
  <label for="updateBy" class="col-sm-3 control-label">Update By</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" name="updateBy" id="updateBy" placeholder="Update By" ng-model="items[0].updatedBy" >
  </div>
</div>

<div class="form-group">
  <label for="updateDate" class="col-sm-3 control-label">Update Date</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" name="updateDate" id="updateDate" placeholder="Update Date" ng-model="items[0].updatedDate" datepicker-popup="dd-MM-yyyy HH:mm:ss">
  </div>
</div>
