<!doctype html>
<html ng-app="promoApp" ng-controller="MainCtrl" class="no-js {{containerClass}}">
  <head>
    <meta charset="utf-8">
    <title>Use Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/ico" href="images/logo25px.png" />
    <!-- build:css(app) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
      <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.css" />
      <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css" />
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
      <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
      <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css" />
      <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
      <link rel="stylesheet" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css" />
      <link rel="stylesheet" href="bower_components/chosen/chosen.min.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
      <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" />
      <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
      <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
      <link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
      <link rel="stylesheet" href="bower_components/morrisjs/morris.css" />
      <link rel="stylesheet" href="bower_components/rickshaw/rickshaw.min.css" />
      <link rel="stylesheet" href="bower_components/owl-carousel/owl-carousel/owl.carousel.css" />
      <link rel="stylesheet" href="bower_components/owl-carousel/owl-carousel/owl.theme.css" />
      <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- <link rel="stylesheet" href="js/touchspin/jquery.bootstrap-touchspin.css" /> -->
    <!-- endbuild -->

  </head>
  <body id="minovate" class="{{main.settings.navbarHeaderColor}} {{main.settings.activeColor}} {{containerClass}}" ng-class="{'header-fixed':main.settings.headerFixed, 'header-static':!main.settings.headerFixed, 'aside-fixed':main.settings.asideFixed, 'aside-static':!main.settings.asideFixed, 'rightbar-show':main.settings.rightbarShow, 'rightbar-hidden':!main.settings.rightbarShow }">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Application content -->
    <div id="wrap" ui-view autoscroll="false"></div>

    <!-- Page Loader -->
    <!-- <div id="pageloader" page-loader></div> -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       // ga('create', 'UA-XXXXX-X');
       // ga('send', 'pageview');
    </script>
    <!-- // <script src='//maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&sensor=false&language=en&v=3.17'></script> -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(app) scripts/vendor.js -->

    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-fontawesome/dist/angular-fontawesome.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
    <script src="bower_components/jquery.sparkline/index.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js"></script>
    <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
    <script src="bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/html.sortable/dist/html.sortable.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/app.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/constant.js"></script>
    <script src="scripts/grid_options.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/angular-spinner.min.js"></script>
    <script src="js/angular-loading-spinner.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/angular-ui-notification.min.js"></script>
    <script src="js/sha256.js"></script>
    <script src="js/hmac-sha256.js"></script>
    <script src="js/enc-base64-min.js"></script>
    
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/services/authInterceptorService.js"></script>
    <script src="scripts/services/rest-service.js"></script>
    <script src="scripts/services/LocaleService.js"></script>
    <script src="scripts/directives/navcollapse.js"></script>
    <script src="scripts/directives/slimscroll.js"></script>
    <script src="scripts/directives/collapsesidebar.js"></script>
    <script src="scripts/directives/pageloader.js"></script>
    <script src="scripts/directives/daterangepicker.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/directives/tilecontrolclose.js"></script>
    <script src="scripts/directives/tilecontroltoggle.js"></script>
    <script src="scripts/directives/tilecontrolrefresh.js"></script>
    <script src="scripts/directives/tilecontrolfullscreen.js"></script>
    <script src="scripts/directives/prettyprint.js"></script>
    <script src="scripts/directives/lazymodel.js"></script>
    <script src="scripts/directives/activatebutton.js"></script>
    <script src="scripts/directives/toastrinject.js"></script>
    <script src="scripts/directives/setnganimate.js"></script>
    <script src="scripts/directives/onblurvalidation.js"></script>
    <script src="scripts/directives/formsubmit.js"></script>
    <script src="scripts/directives/check-toggler.js"></script>
    <script src="scripts/directives/gaugechart.js"></script>
    <script src="scripts/directives/todofocus.js"></script>
    <script src="scripts/directives/todoescape.js"></script>
    <script src="scripts/directives/clock.js"></script>
    <script src="scripts/directives/active-toggle.js"></script>
    <script src="scripts/directives/lowercase.js"></script>
    <script src="scripts/directives/anchor-scroll.js"></script>
    <script src="scripts/directives/offcanvas-sidebar.js"></script>
    <script src="scripts/directives/LanguageSelectDirective.js"></script>
    <script src="scripts/controllers/tmpl/daterangepicker.js"></script>
    <script src="scripts/controllers/tmpl/fullwidthlayout.js"></script>
    <script src="scripts/controllers/tmpl/sidebarsmlayout.js"></script>
    <script src="scripts/controllers/tmpl/ui-typography.js"></script>
    <script src="scripts/controllers/tmpl/ui-lists.js"></script>
    <script src="scripts/controllers/tmpl/ui-buttonsicons.js"></script>
    <script src="scripts/controllers/tmpl/ui-navs.js"></script>
    <script src="scripts/controllers/tmpl/ui-modals.js"></script>
    <script src="scripts/controllers/tmpl/ui-tiles.js"></script>
    <script src="scripts/controllers/tmpl/ui-grid.js"></script>
    <script src="scripts/controllers/tmpl/ui-alerts.js"></script>
    <script src="scripts/controllers/tmpl/ui-general.js"></script>
    <script src="scripts/controllers/tmpl/ui-tree.js"></script>
    <script src="scripts/controllers/tmpl/forms-common.js"></script>
    <script src="scripts/controllers/tmpl/forms-validate.js"></script>
    <script src="scripts/controllers/tmpl/charts.js"></script>
    <script src="scripts/controllers/tmpl/form-upload.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/controllers/form-modals.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/wizard.js"></script>
    <script src="scripts/controllers/crud.js"></script>
    <script src="scripts/controllers/administration/company.js"></script>
    <script src="scripts/controllers/administration/voucher-company.js"></script>
    <script src="scripts/controllers/administration/merchant-group.js"></script>
    <script src="scripts/controllers/administration/promo-reward.js"></script>
    <script src="scripts/controllers/promo-campaign/create-campaign.js"></script>
    <script src="scripts/controllers/promo-campaign/list-campaign.js"></script>
    <script src="scripts/controllers/voucher/transaction-log.js"></script>
    <script src="scripts/controllers/voucher/voucher-detail.js"></script>
    <script src="scripts/controllers/voucher/voucher-generate.js"></script>
    <script src="scripts/controllers/voucher/voucher-replace.js"></script>
    <script src="scripts/controllers/administration/voucher-type.js"></script>
    <script src="scripts/controllers/datepicker.js"></script>
    <script src="scripts/controllers/administration/user.js"></script>
    <script src="scripts/controllers/administration/role.js"></script>
    <script src="scripts/controllers/administration/group.js"></script>
    <script src="js/csv.js"></script>
    <!--<script src="js/build/pdfmake.js"></script>
    <script src="js/build/vfs_fonts.js"></script>
    -->
    <!-- endbuild -->
  </body>
</html>
