<!-- <div class="col-md-6 col-sm-6"> -->
  <div class="panel panel-primary">
    <div class="panel-heading center">Term & Condition / Promo Cardlink</div>
    <div class="panel-body">
      <input type="hidden" ng-model="promoManager.managerController.managerId" />
      <div class="form-group" ng-class="{'has-error' : promoManagerForm.label.$invalid && !promoManagerForm.label.$pristine, 'has-success' : promoManagerForm.label.$valid && !promoManagerForm.label.$pristine}">
        <label class="control-label col-md-4" for="label">Promo Label: </label>
        <div class="col-md-6">
          <input type="text" name="label" id="label" class="form-control" ng-model="promoManager.managerController.label" placeholder="Promo Label" required />
          <p class="help-block"><span ng-show="promoManagerForm.label.$dirty && promoManagerForm.label.$error.required">Promo Label is required.</span></p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : promoManagerForm.startDate.$invalid && !promoManagerForm.startDate.$pristine, 'has-success' : promoManagerForm.startDate.$valid && !promoManagerForm.startDate.$pristine}">
          <label class="control-label col-md-4">Start Date Promo: <span class="required"></span> </label>
          <span class="col-md-6" ng-controller="DatepickerCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" ng-disabled="false" name="startDate" datepicker-popup="{{format}}" required ng-model="promoManager.managerController.startdate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
              <p class="help-block"><span ng-show="promoManagerForm.startDate.$invalid && !promoManagerForm.startDate.$pristine">Invalid Format.</span></p>
              <p class="help-block"><span ng-show="promoManagerForm.startDate.$dirty && promoManagerForm.startDate.$error.required">Start Date Promo is required.</span></p>
          </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : promoManagerForm.endDate.$invalid && !promoManagerForm.endDate.$pristine, 'has-success' : promoManagerForm.endDate.$valid && !promoManagerForm.endDate.$pristine}">
        <label class="control-label col-md-4">End Date Promo: <span class="required"></span> </label>
        <span class="col-md-6" ng-controller="DatepickerCtrl">
          <div class="input-group w-md">
            <input type="text" class="form-control" ng-disabled="false" name="endDate" datepicker-popup="{{format}}" required ng-model="promoManager.managerController.enddate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
            <p class="help-block"><span ng-show="promoManagerForm.endDate.$invalid && !promoManagerForm.endDate.$pristine">Invalid Format.</span></p>
            <p class="help-block"><span ng-show="promoManagerForm.endDate.$dirty && promoManagerForm.endDate.$error.required">End Date Promo is required.</span></p>
        </span>
      </div>

      <div class="form-group" ng-class="{'has-success' : promoManagerForm.dailyLimit.$valid && !promoManagerForm.dailyLimit.$pristine}">
        <label class="control-label col-md-4" for="dailyLimit">Daily Limit: </label>
        <div class="col-md-6">
          <input type="text" name="dailyLimit" id="dailyLimit" class="form-control" ng-model="promoManager.managerController.dailyLimit" placeholder="Daily Limit" only-digits />
           <p class="help-block"><span ng-show="promoManagerForm.dailyLimit.$invalid && !promoManagerForm.dailyLimit.$pristine">Invalid Format.</span></p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-success' : promoManagerForm.monthlyLimit.$valid && !promoManagerForm.monthlyLimit.$pristine}">
        <label class="control-label col-md-4" for="monthlyLimit">Monthly Limit: </label>
        <div class="col-md-6">
          <input type="text" name="monthlyLimit" id="monthlyLimit" class="form-control" ng-model="promoManager.managerController.monthlyLimit" placeholder="Monthly Limit" only-digits />
          <p class="help-block"><span ng-show="promoManagerForm.monthlyLimit.$invalid && !promoManagerForm.monthlyLimit.$pristine">Invalid Format.</span></p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-success' : promoManagerForm.userLimit.$valid && !promoManagerForm.userLimit.$pristine}">
        <label class="control-label col-md-4" for="userLimit">User Limit: </label>
        <div class="col-md-6">
          <input type="text" name="userLimit" id="userLimit" class="form-control" ng-model="promoManager.managerController.userLimit" placeholder="User Limit" only-digits />
          <p class="help-block"><span ng-show="promoManagerForm.userLimit.$invalid && !promoManagerForm.userLimit.$pristine">Invalid Format.</span></p>
        </div>
      </div>

      <div class="form-group"  ng-class="{'has-success' : promoManagerForm.promoDay.$valid && !promoManagerForm.promoDay.$pristine }">
        <label class="control-label col-md-4">Promo Day: </label>
        <div class="col-md-6" >
          <label class="radio checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.managerController.promoday.flag" name="promoDay" ><i></i>
            <button class="btn btn-success btn-rounded" ng-hide="(promoManager.managerController.promoday.flag) ? false:true" ng-click="addDay()"><i class="fa fa-plus"></i></button>
          </label>
          <div ng-hide="(promoManager.managerController.promoday.flag) ? false:true"><br/>
            <fieldset  data-ng-repeat="dayRow in dayList">
              <div class="col-md-10">
                <select class="form-control mb-10" name="day" ng-model="dayRow.id" ng-options='days.id as days.name for days in allDay'>
                  <option value="">-- Please Select --</option>
                </select>
              </div>
              <div class="col-md-2">
                <button class="btn btn-danger btn-rounded" ng-show="$last"  ng-click="removeDay()"><i class="fa fa-remove"></i></button>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="form-group"  ng-class="{'has-success' : promoManagerForm.promoLimit.$valid && !promoManagerForm.promoLimit.$pristine }">
          <label class="control-label col-md-4">Promo Limit: </label>
          <div class="col-md-6" >
              <label class="checkbox checkbox-custom checkbox-custom-sm" >
                  <input type="checkbox" ng-model="promoManager.managerController.promoLimit.flag" name="promoLimit" value="1" ><i></i>
              </label>
          </div>
      </div>

      <div class="form-group" ng-hide="(promoManager.managerController.promoLimit.flag) ? false:true" ng-class="{ 'has-success' : promoManagerForm.limitValue.$valid && !promoManagerForm.limitValue.$pristine}">
          <label class="control-label col-md-4" for="limitValue">Limit Value: </label>
          <div class="col-md-6">
              <input type="text" name="limitValue" id="limitValue" class="form-control" ng-model="promoManager.managerController.promoLimit.limitValue" placeholder="Limit value" only-digits />
          </div>
      </div>

      <div class="form-group" ng-hide="(promoManager.managerController.promoLimit.flag) ? false:true" ng-class="{ 'has-success' : promoManagerForm.limitMessage.$valid && !promoManagerForm.limitMessage.$pristine}">
          <label class="control-label col-md-4" for="limitMessage">Limit Message: </label>
          <div class="col-md-6">
              <input type="text" name="limitMessage" id="limitMessage" class="form-control" ng-model="promoManager.managerController.promoLimit.limitMessage" placeholder="Limit Message" />
          </div>
      </div>

      <div class="form-group"  ng-class="{'has-success' : promoManagerForm.processNextPromo.$valid && !promoManagerForm.processNextPromo.$pristine }">
          <label class="control-label col-md-4">Support Multi Promo: </label>
          <div class="col-md-6" >
              <label class="checkbox checkbox-custom checkbox-custom-sm" >
                  <input type="checkbox" ng-model="promoManager.managerController.processNextPromo" name="processNextPromo" value="1" ><i></i>
              </label>
          </div>
      </div>

      <div class="form-group" ng-hide="(promoManager.managerController.processNextPromo) ? false:true" ng-class="{ 'has-success' : promoManagerForm.priority.$valid && !promoManagerForm.priority.$pristine}">
          <label class="control-label col-md-4" for="priority">Promo Priority: </label>
          <div class="col-md-6">
              <input type="text" name="priority" id="priority" class="form-control" ng-model="promoManager.managerController.priority" placeholder="Promo Priority" only-digits />
          </div>
      </div>
    </div>
  </div>
<!-- </div> -->
