<div class="row">
  <fieldset data-ng-repeat="binRange in binRangeList">
    <div class="col-md-5">
      <div class="form-group col-md-12" ng-class="{ 'has-error' : promoManagerForm.binStart.$invalid && !promoManagerForm.binStart.$pristine, 'has-success' : promoManagerForm.binStart.$valid && !promoManagerForm.binStart.$pristine}">
          <label class="col-6-sm-2 control-label">BIN Start {{binRange.no}}:</label>
          <input type="text" name="binStart" class="form-control" ng-model="binRange.binStart" placeholder="BIN Start" only-digits required/>
          <p class="help-block"><span ng-show="promoManagerForm.binStart.$dirty && promoManagerForm.binStart.$error.required">BIN Start is required.</span></p>
      </div>
     </div>

     <div class="col-md-5">
      <div class="form-group col-md-12" ng-class="{ 'has-error' : promoManagerForm.binEnd.$invalid && !promoManagerForm.binEnd.$pristine, 'has-success' : promoManagerForm.binEnd.$valid && !promoManagerForm.binEnd.$pristine}">
        <label class="col-6-sm-2 control-label">BIN End {{binRange.no}}:</label>
        <input type="text" name="binEnd" class="form-control" ng-model="binRange.binEnd" placeholder="BIN End" only-digits required/>
        <p class="help-block"><span ng-show="promoManagerForm.binEnd.$dirty && promoManagerForm.binEnd.$error.required">BIN End is required.</span></p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group col-md-12">
        <label class="col-6-sm-2 control-label mt-40"></label>
        <button class="btn btn-danger btn-rounded" ng-show="$last" ng-click="removeBinRange()"><i class="fa fa-remove"></i></button>
      </div>
    </div>
  </fieldset>
</div>
<div class="row">
    <div class="col-md-6 ml-10">
    <button type="button" class="btn btn-success btn-rounded" ng-click="addBinRange()">
        <i class="fa fa-plus"></i>
    </button>
    </div>
</div>