<div class="page page-form-wizard">
  <!-- page header -->
  <div class="pageheader">
    <!-- <h2>{{page.title}} <span> {{page.subtitle}}</span></h2> -->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step1:true, step2:false, step3:false, step4:false, step5: false}">
    Result JSON: <pre>{{items|json}}</pre>
      <!-- start tab ke 1 -->
      <tab active="steps.step1">
        <tab-heading>
          {{'company'|translate}}
          <span class="badge badge-default pull-right wizard-step">1</span>
        </tab-heading>
        <div class="panel panel-primary">
          <div class="panel-heading center">{{'company'|translate}}</div>
          <div class="panel-body">
            <form name="step1" role="form" novalidate class="form-validation">
              <div class="row">
                <div class="form-group form-inline" ng-class="{ 'has-error' : step1.searchcp.$invalid, 'has-success' : step1.searchcp.$valid && !step1.searchcp.$pristine}">
                <label class="control-label col-md-3" for="searchcp">{{'search'|translate}} {{'company'|translate}}: </label>
                  <div class="col-md-4">
                    <select ui-jq="chosen" chosen-update-list chosen-update-so name="searchcp" id="searchcp" ng-model="items" class="form-control" data-ng-options="obj as obj.name for obj in list.companies" required>
                      <option value="" selected hidden />
                    </select>
                    <p class="help-block"><span ng-show="step1.searchcp.$invalid && !step1.searchcp.$pristine">{{'error_required'|translate}}</span></p>
                  </div>  
                  <button type="submit" ng-disabled="step1.$invalid" class="btn btn-rounded btn-success btn-sm" ng-click="create()"><fa name="plus"></fa></button>
                </div>
                <hr class="line-dashed line-full">
                <div ng-if="!step1.searchcp.$pristine" ng-disabled="true" data-ng-include data-src="'views/administration/company/_formInsertUpdate.html'"></div>
              </div>
              <div class="text-right">
                <button type="submit" ng-disabled="step1.searchcp.$pristine" class="btn btn-primary" ng-click="steps.step2=true">{{"next"|translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </tab>
      <!-- end tab ke 1 -->

      <tab active="steps.step2" disabled="step1.$invalid">
        <tab-heading>
          Merchant Group
          <span class="badge badge-default pull-right wizard-step">2</span>
        </tab-heading>
        <div class="panel panel-primary">
          <div class="panel-heading center">Merchant Group</div>
          <div class="panel-body">
            <div ng-include src="'views/administration/merchant-group/_input-form-merchant-group.html'"></div>
          </div>
        </div>
        <hr class="line-dashed line-full">
        <button type="submit" class="btn btn-primary" ng-click="steps.step1=true">{{"prev"|translate}}</button>
        <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary pull-right" ng-click="steps.step3=true">{{"next"|translate}}</button>
      </tab>

      <tab active="steps.step3" disabled="step2.$invalid">
        <tab-heading>
          Promo Cardlink
          <span class="badge badge-default pull-right wizard-step">3</span>
        </tab-heading>
        <div ng-include src="'views/promo-campaign/create-campaign/_form-term-condition.html'"></div>
        <hr class="line-dashed line-full">
        <button type="submit" class="btn btn-primary" ng-click="steps.step2=true">{{"prev"|translate}}</button>
        <button type="submit" ng-disabled="step3.$invalid" class="btn btn-primary pull-right" ng-click="steps.step4=true">{{"next"|translate}}</button>
      </tab>

      <tab active="steps.step4" disabled="step3.$invalid">

        <tab-heading>
          {{"card-bin-range"|translate}}
          <span class="badge badge-default pull-right wizard-step">4</span>
        </tab-heading>
        <div class="panel panel-primary">
          <div class="panel-heading center">Card Bin Range</div>
          <div class="panel-body">
            <div ng-include src="'views/promo-campaign/create-campaign/_form-card-bin-range.html'"></div>
          </div>
        </div>
        <hr class="line-dashed line-full">
        <button type="submit" class="btn btn-primary" ng-click="steps.step3=true">{{"prev"|translate}}</button>
        <button type="submit" ng-disabled="step4.$invalid" class="btn btn-primary pull-right" ng-click="steps.step5=true">{{"next"|translate}}</button>
      </tab>

      <tab active="steps.step5" disabled="step4.$invalid">

        <tab-heading>
          Processor / Reward
          <span class="pull-right wizard-step">5</span>
        </tab-heading>

        <p class="well">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>

        <form name="step5" role="form" novalidate>

          <div class="checkbox">
            <label class="checkbox checkbox-custom">
              <input type="checkbox" name="agree" id="agree" ng-model="user.agree" required><i></i> I agree to the <a href class="text-info">Terms of Service</a>
            </label>
            <p class="help-block">
              <span ng-show="step5.agree.$invalid && !step5.agree.$pristine" class="text-red">You must accept Terms of Service.</span>
            </p>
          </div>

          <div class="checkbox">
            <label class="checkbox checkbox-custom">
              <input type="checkbox" name="newsletter" id="newsletter" ng-model="user.newsletter"><i></i> Receive newsletter</a>
            </label>
          </div>

          <button type="submit" class="btn btn-default" ng-click="steps.step4=true">Previous</button>
          <button type="submit" ng-disabled="step5.$invalid" class="btn btn-success pull-right">Finish</button>

        </form>
      </tab>
    </tabset>
  </div>
  <!-- /page content -->
</div>
