<div class="form-group" ng-class="{'has-error' : luckydrawForm.minimumAmount.$invalid && !luckydrawForm.minimumAmount.$pristine, 'has-success' : luckydrawForm.minimumAmount.$valid && !luckydrawForm.minimumAmount.$pristine}">
    <label class="control-label col-md-4" for="minimumAmount">Minimum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="minimumAmount" class="form-control" ng-model="promoManager.processorparent.minAmount" placeholder="Minimum Amount" only-digits required/>
        <p class="help-block"><span ng-show="luckydrawForm.minimumAmount.$dirty && luckydrawForm.minimumAmount.$error.required">Minimum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : luckydrawForm.maximumAmount.$invalid && !luckydrawForm.maximumAmount.$pristine, 'has-success' : luckydrawForm.maximumAmount.$valid && !luckydrawForm.maximumAmount.$pristine}">
    <label class="control-label col-md-4" for="maximumAmount">Maximum Amount: </label>
    <div class="col-md-6">
        <input type="text" name="maximumAmount" class="form-control" ng-model="promoManager.processorparent.maxAmount" placeholder="Maximum Amount" only-digits required/>
        <p class="help-block"><span ng-show="luckydrawForm.maximumAmount.$dirty && luckydrawForm.maximumAmount.$error.required">Maximum Amount is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : luckydrawForm.frequency.$invalid && !luckydrawForm.frequency.$pristine, 'has-success' : luckydrawForm.frequency.$valid && !luckydrawForm.frequency.$pristine}">
    <label class="control-label col-md-4" for="frequency">Frequency: </label>
    <div class="col-md-6">
        <input type="text" name="frequency" class="form-control" ng-model="promoManager.processorparent.frequency" placeholder="Freequency" only-digits required/>
        <p class="help-block"><span ng-show="luckydrawForm.frequency.$dirty && luckydrawForm.frequency.$error.required">Freequency is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.managerController.dailyLimit > 0) ? true:false" ng-class="{'has-success' : luckydrawForm.dailyLimit.$valid && !luckydrawForm.dailyLimit.$pristine}">
    <label class="control-label col-md-4" for="dailyLimit">Daily Limit: </label>
    <div class="col-md-6">
        <input type="text" name="dailyLimit" class="form-control" ng-model="promoManager.processorparent.cappingDailyLimit" placeholder="Daily Limit" only-digits />
    </div>
</div>  

<div class="form-group" ng-hide="(promoManager.managerController.monthlyLimit > 0) ? true:false" ng-class="{'has-success' : luckydrawForm.monthlyLimit.$valid && !luckydrawForm.monthlyLimit.$pristine}">
    <label class="control-label col-md-4" for="monthlyLimit">Monthly Limit: </label>
    <div class="col-md-6">
        <input type="text" name="monthlyLimit" class="form-control" ng-model="promoManager.processorparent.cappingMonthlyLimit" placeholder="Monthly Limit" only-digits />
    </div>
</div> 

<div class="form-group" ng-hide="(promoManager.managerController.userLimit > 0) ? true:false" ng-class="{'has-success' : luckydrawForm.userLimit.$valid && !luckydrawForm.userLimit.$pristine}">
    <label class="control-label col-md-4" for="userLimit">User Limit: </label>
    <div class="col-md-6">
        <input type="text" name="userLimit" class="form-control" ng-model="promoManager.processorparent.cappingUserLimit" placeholder="User Limit" only-digits />
    </div>
</div> 

<div class="form-group"  ng-class="{'has-error' : luckydrawForm.isCappingMerchant.$invalid && !luckydrawForm.isCappingMerchant.$pristine, 'has-success' : luckydrawForm.isCappingMerchant.$valid && !luckydrawForm.isCappingMerchant.$pristine }">
    <label class="control-label col-md-4">Merchant Capping: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.cappingMerchantFlag" name="isCappingMerchant" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group"  ng-class="{'has-error' : luckydrawForm.isRejectTransaction.$invalid && !luckydrawForm.isRejectTransaction.$pristine, 'has-success' : luckydrawForm.isRejectTransaction.$valid && !luckydrawForm.isRejectTransaction.$pristine }">
    <label class="control-label col-md-4">Reject Transaction: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.rejectTransactionFlag" name="isRejectTransaction" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group"  ng-class="{'has-error' : luckydrawForm.isUnlimited.$invalid && !luckydrawForm.isUnlimited.$pristine, 'has-success' : luckydrawForm.isUnlimited.$valid && !luckydrawForm.isUnlimited.$pristine }">
    <label class="control-label col-md-4">Unlimited Voucher: </label>                        
    <div class="col-md-6" >
        <label class="checkbox checkbox-custom checkbox-custom-sm" >
            <input type="checkbox" ng-model="promoManager.processorparent.isUnlimited" name="isUnlimited" value="1" ><i></i>
        </label>     
    </div>
</div>

<div class="form-group" ng-class="{'has-error' : luckydrawForm.promoTag.$invalid && !luckydrawForm.promoTag.$pristine, 'has-success' : luckydrawForm.promoTag.$valid && !luckydrawForm.promoTag.$pristine}">
    <label class="control-label col-md-4" for="promoTag">Promo TAG: </label>
    <div class="col-md-6">
        <input type="text" name="promoTag" class="form-control" ng-model="promoManager.processorparent.promoTag" placeholder="Promo TAG" required/>
        <p class="help-block"><span ng-show="luckydrawForm.promoTag.$dirty && luckydrawForm.promoTag.$error.required">Promo TAG is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : luckydrawForm.message.$invalid && !luckydrawForm.message.$pristine, 'has-success' : luckydrawForm.message.$valid && !luckydrawForm.message.$pristine}">
    <label class="control-label col-md-4" for="message">Success Message: </label>
    <div class="col-md-6">
        <input type="text" name="message" class="form-control" ng-model="promoManager.processorparent.message" placeholder="Message" required/>
        <p class="help-block"><span ng-show="luckydrawForm.message.$dirty && luckydrawForm.message.$error.required">Message is required.</span></p>
    </div>
</div> 

<div class="form-group" ng-class="{'has-error' : luckydrawForm.failureMessage.$invalid && !luckydrawForm.failureMessage.$pristine, 'has-success' : luckydrawForm.failureMessage.$valid && !luckydrawForm.failureMessage.$pristine}">
    <label class="control-label col-md-4" for="failureMessage">Failure Message: </label>
    <div class="col-md-6">
        <input type="text" name="failureMessage" class="form-control" ng-model="promoManager.processorparent.failMessage" placeholder="Failure Message" required/>
        <p class="help-block"><span ng-show="luckydrawForm.failureMessage.$dirty && luckydrawForm.failureMessage.$error.required">Message is required.</span></p>
    </div>
</div> 

<div class="modal-footer">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                Cancel
            </button>               
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-hide="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)" ng-disabled="!luckydrawForm.$valid">
                <i class="fa fa-arrow-right"></i> 
                Submit
            </button>
            <button type="submit" class="btn btn-blue btn-ef btn-ef-3 btn-ef-3c" ng-show="{{promoManager.processorparent.editmode}}" ng-click="ok(promoManager)">
                <i class="fa fa-arrow-right"></i>
                Update
            </button>     
        </div>
</div>