<div class="form-group" ng-class="{ 'has-error' : companyForm.companyCode.$invalid, 'has-success' : companyForm.companyCode.$valid && !companyForm.companyCode.$pristine}">
<label class="control-label col-md-3" for="companyCode">Company Code: </label>
  <div class="col-md-8">
      <input type="text" name="companyCode" id="companyCode" class="form-control" ng-model="$parent.items.companyCode" ng-maxlength="11" placeholder="Company Code" required/>
      <p class="help-block"><span ng-show="companyForm.companyCode.$dirty && companyForm.companyCode.$error.required">Company Code is required.</span></p>
      <p class="help-block"><span ng-show="companyForm.companyCode.$dirty && companyForm.companyCode.$error.maxlength">Company Code To Long.</span></p>
  </div>
</div>  

<div class="form-group" ng-class="{ 'has-error' : companyForm.name.$invalid, 'has-success' : companyForm.name.$valid && !companyForm.name.$pristine}">
<label class="control-label col-md-3" for="name">Company Name: </label>
  <div class="col-md-8">
      <input type="text" name="name" id="name" class="form-control" ng-model="$parent.items.name" placeholder="Company Name" ng-maxlength="32"required/>
      <p class="help-block" ng-show="companyForm.labelName.$error.required && !companyForm.labelName.$pristine">{{'error_required'|translate}}</p>
      <p class="help-block" ng-show="companyForm.labelName.$error.maxlength && !companyForm.labelName.$pristine">{{'error_length'|translate}}</p>
  </div>
</div>  
<!-- ng-show="$parent.items.editMode" -->
<!-- <div class="form-group"  ng-class="{ 'has-error' : companyForm.status.$invalid && !companyForm.status.$pristine, 'has-success' : companyForm.status.$valid && !companyForm.status.$pristine}">
<label class="control-label col-md-3">Status: </label>
  <div class="col-md-8">        
    <select class="form-control mb-10" name="status" ng-model="$parent.items.status" required>
      <option value="">-- Please Select --</option>
      <option value="1" ng-selected="!$parent.items.editMode || $parent.items.status == 1">Active</option>
      <option value="0">Block</option>
    </select>
    <p class="help-block"><span ng-show="companyForm.status.$match">Please Select Status.</span></p>
    <p class="help-block"><span ng-show="companyForm.status.$dirty && companyForm.status.$error.required">Status is required.</span></p>
  </div>
</div> -->
<div ng-init="$parent.items.isdeleted = 0"></div> 
<!-- <input type="text" name="name" id="name" class="form-control" ng-model="company.isdeleted" value="0" hidden required/> -->