<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">{{"create"|translate}} <strong>Kategori</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
        <label for="code" class="col-sm-3 control-label">Kode Kategori</label>
        <div class="col-sm-8" ng-class="{ 'has-error' : form.code.$invalid, 'has-success' : form.code.$valid && !form.code.$pristine}">
          <input type="text" class="form-control" id="code" name="code" placeholder="Kode" ng-disabled="items[0].editMode" ng-model="items[0].code" ng-pattern="/^[A-Za-z0-9]*$/" ng-maxlength="10" required>
          <p class="help-block mb-0" ng-show="form.code.$error.required && !form.code.$pristine">{{'error_required'|translate}}</p>
          <p class="help-block mb-0" ng-show="form.code.$error.pattern && !form.code.$pristine">{{'error_format'|translate}}</p>
          <p class="help-block mb-0" ng-show="form.code.$error.maxlength && !form.code.$pristine">{{'error_length'|translate}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Deskripsi Kategori</label>
        <div class="col-sm-8" ng-class="{ 'has-error' : form.name.$invalid, 'has-success' : form.name.$valid && !form.name.$pristine}">
          <input type="text" class="form-control" id="name" name="name" placeholder="Deskripsi" ng-model="items[0].name" ng-maxlength="60" required>
          <p class="help-block mb-0" ng-show="form.name.$error.required && !form.name.$pristine">{{'error_required'|translate}}</p>
          <p class="help-block mb-0" ng-show="form.name.$error.maxlength && !form.name.$pristine">{{'error_length'|translate}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="remarks" class="col-sm-3 control-label">Keterangan</label>
        <div class="col-sm-8"ng-class="{ 'has-error' : form.remarks.$invalid, 'has-success' : form.remarks.$valid && !form.remarks.$pristine}">
          <textarea type="text" class="form-control" name="remarks" id="remarks" placeholder="Keterangan" ng-model="items[0].remarks" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="form.$invalid" ng-click="ok()"><i class="fa fa-arrow-right"></i> Submit</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</script>
