<div class="page">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.main}}</a>
        </li>
        <li>
          <a data-ng-click="refresh()" ui-sref="app.category">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <div class="tile-body">
          <accordion>
            <accordion-group is-open="false">
              <accordion-heading>
                <i class="fa fa-search"></i> <span>{{'search'|translate}}</span><i class="pull-right fa" data-ng-class="{'fa-chevron-circle-down': status.open, 'fa-chevron-circle-right': !status.open}"></i>
              </accordion-heading>
              <form name="searchForm" id="" class="form">
                 <div class="row">
                    <div class="form-group col-md-3">
                      <label class="col-3-sm-2 control-label">Company Name</label>
                      <input type="text" ng-model="filter.name" class="form-control" />
                      <input type="hidden" ng-model="filter.flag" value="1" />
                    </div>  
                    <div class="form-group col-md-3">
                      <label class="col-3-sm-2 control-label">Company Code</label>
                      <input type="text" ng-model="filter.companyCode" class="form-control" />
                    </div> 
                    <div class="form-group col-md-3">
                      <label class="col-3-sm-2 control-label">Status</label>
                      <select class="form-control" name="status" id="status" ng-model="filter.status" data-ng-options="obj.id as obj.name for obj in statusList">
                        <option value="">-- Please Select --</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-3"> 
                        <button class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" ng-click="find()"><i class="fa fa-search"></i> <span>&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
                    </div>
                 </div>
              </form>
            </accordion-group>
          </accordion>
        </div>

        <section class="tile" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{'company'|translate}} </strong></h1>
            <button class="btn btn-primary btn-rounded pull-right mr-5" style="padding: 4px 10px" tooltip="Refresh Data" tooltip-placement="top" ng-click="refresh()"><fa name="refresh"></fa></button>
            <button class="btn btn-success btn-rounded pull-right mr-5" style="padding: 4px 10px" ng-click="create()"><fa name="plus"></fa>&nbsp;&nbsp;{{'CREATE'|translate}} </button>
          </div>

          <!-- tile body -->
          <div class="tile-body">
            <div id="grid1" ng-show="buttonAccess('company_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
              <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
            </div>
          </div>
          <!-- /tile body -->
        </section>
      </div>
    </div>
  </div>
</div>
<div data-ng-include data-src="'views/administration/company/_form.html'"></div>
