<script type="text/ng-template" id="_form-detail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">View <strong>Detail</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <pre>{{items | json}}</pre>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
</script>
