<div class="page">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.main}}</a>
        </li>
        <li>
          <a data-ng-click="refresh()" ui-sref="app.category">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <div class="tile-body">
          <accordion>
            <accordion-group is-open="false">
              <accordion-heading>
                <i class="fa fa-search"></i> <span>{{'search'|translate}}</span><i class="pull-right fa" data-ng-class="{'fa-chevron-circle-down': status.open, 'fa-chevron-circle-right': !status.open}"></i>
              </accordion-heading>
              <form name="searchForm" id="searchForm" class="form" ng-init="cat = 'category'">
              <div style="margin-bottom: 10px;">
                <!-- <input type="radio" ng-model="searchBy" value="category"> Search by Category &nbsp&nbsp
                <input type="radio" ng-model="searchBy" value="pan"> Search by PAN
 -->
                <div class="form-inline">
                  <div class="form-group">
                  <label class="checkbox checkbox-custom" style="margin-right: 10px;">
                    <input name="catRadio" type="radio" ng-model="cat" value="category"><i></i> Search by Category
                  </label>
                  <label class="checkbox checkbox-custom" style="margin-right: 10px;">
                    <input name="panRadio" type="radio" ng-model="cat" value="pan"><i></i> Search by PAN
                  </label>
                  <label class="checkbox checkbox-custom">
                    <input name="tokenRadio" type="radio" ng-model="cat" value="token"><i></i> Search by Tokenize PAN
                  </label>
                  </div>
                </div>
              </div>
              <hr class="line-dashed line-full">
                <div ng-if="cat == 'category'">
                  <div class="row">
                    <div ng-controller="DatepickerDemoCtrl" class="form-group col-md-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="createdDate">Created Date: </label>
                            <div>
                              <div class="input-group">
                                <input type="text" class="form-control" id="startCreatedDate" name="startCreatedDate" placeholder="Start Date"
                                datepicker-startdate
                                datepicker-popup="{{format}}"  
                                ng-model="filter.startCreatedDate" 
                                is-open="opened1"
                                datepicker-options="dateOptions"
                                ng-change="toggleMin(filter.startCreatedDate)" 
                                close-text="Close"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" ng-class="{'btn-today': !checkToday(filter.startCreatedDate)}">
                          <div class="form-group">
                            <label for="date"> </label>
                            <div>
                              <div class="input-group">
                                <input type="text" class="form-control" id="endCreatedDate" name="endCreatedDate" placeholder="End Date" 
                                datepicker-enddate
                                datepicker-popup="{{format}}"
                                ng-model="filter.endCreatedDate" 
                                is-open="opened2" 
                                min-date="minDate"
                                datepicker-options="dateOptions"
                                close-text="Close" style="margin-top: 5px;"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" style="margin-top: 5px;" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label class="col-3-sm-2 control-label">Voucher Type</label>                                
                       <select ui-jq="chosen" chosen-update-list id="voucherTypeId" name="voucherTypeId" ng-model="filter.voucherTypeId" class="form-control" data-ng-options="obj.id as obj.label for obj in list.voucherTypeList">
                        <option value="">{{'MSG_OPTIONS'|translate}}</option>
                      </select>
                    </div>
                    
                    <div class="form-group col-md-4">
                      <label class="col-3-sm-2 control-label">Amount</label>                                
                      <input type="text" ng-model="filter.amount" class="form-control" />                            
                    </div>
                  </div>
                  <div class="row">
                    <div ng-controller="DatepickerDemoCtrl" class="form-group col-md-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="expireDate">{{"expire-date"|translate}} </label>
                            <div>
                              <div
                              <div class="input-group">
                                <input type="text" class="form-control" id="startExpiredDate" name="startExpiredDate" placeholder="Start Date"
                                datepicker-startdate
                                datepicker-popup="{{format}}"  
                                ng-model="filter.startExpiredDate" 
                                is-open="opened1"
                                datepicker-options="dateOptions"
                                ng-change="toggleMin(filter.startExpiredDate)" 
                                close-text="Close"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" ng-class="{'btn-today': !checkToday(filter.startExpiredDate)}">
                          <div class="form-group">
                            <label for="date"> </label>
                            <div>
                              <div class="input-group">
                                <input type="text" class="form-control" id="endExpiredDate" name="endExpiredDate" placeholder="End Date" 
                                datepicker-enddate
                                datepicker-popup="{{format}}"
                                ng-model="filter.endExpiredDate" 
                                is-open="opened2" 
                                min-date="minDate"
                                datepicker-options="dateOptions"
                                close-text="Close" style="margin-top: 5px;"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" style="margin-top: 5px;" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="col-3-sm-2 control-label">Status</label>                                
                       <select ui-jq="chosen" chosen-update-list id="statusId" name="statusId" ng-model="filter.statusId" ng-change="exactSearch.categoryCode=true" class="form-control" data-ng-options="obj.code as obj.name for obj in list.status">
                        <option value="">{{'MSG_OPTIONS'|translate}}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4" ng-show="isAdmin">
                      <label class="col-3-sm-2 control-label">Company</label>                                
                       <select ui-jq="chosen" chosen-update-list id="company" name="company" ng-model="filter.companyCode" class="form-control" data-ng-options="obj.code as obj.name for obj in list.companyList">
                        <option value="">{{'MSG_OPTIONS'|translate}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div ng-if="cat == 'pan'" class="row">
                  <div class="form-group col-md-4">
                    <label class="col-3-sm-2 control-label">PAN</label>                                
                    <input type="text" ng-model="filter.pan" class="form-control" />
                    <input type="hidden" ng-model="filter.flag" value="1" />                              
                  </div>  
                </div>

                <div ng-if="cat == 'token'" class="row">
                  <div class="form-group col-md-4">
                    <label class="col-3-sm-2 control-label">Tokenize PAN</label>                                
                    <input type="text" ng-model="filter.pan" class="form-control" />
                    <input type="hidden" ng-model="filter.flag" value="1" />                              
                  </div>  
                </div>

                <div class="row">   
                  <div class="form-group col-md-3">
                      <button class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" ng-click="searchBy(cat, filter)"><i class="fa fa-search"></i> <span ng-style="{'text-align':'center'}">{{"search"|translate}}</span></button>
                  </div>
                </div>
              </form>
            </accordion-group>
          </accordion>
        </div>
        <section class="tile" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{'voucher-detail'|translate}} </strong></h1>
            <button class="btn btn-primary btn-rounded pull-right mr-5" style="padding: 4px 10px" tooltip="Refresh Data" tooltip-placement="top" ng-click="refreshList()"><fa name="refresh"></fa></button>
          </div>

          <!-- tile body -->
          <div class="tile-body">
            <div id="grid1" ng-show="buttonAccess('voucher-detail_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
              <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
            </div>
          </div>
          <!-- /tile body -->
        </section>
      </div>
    </div>
  </div>
</div>
<div data-ng-include data-src="'views/voucher/voucher-detail/_form-detail.html'"></div>