<div class="form-group" ng-show="$parent.items.disableCode" ng-class="{ 'has-error' : companyForm.companyCode.$invalid && !companyForm.companyCode.$pristine, 'has-success' : companyForm.companyCode.$valid && !companyForm.companyCode.$pristine}">
<label class="control-label col-md-3" for="companyCode">{{"CODE"|translate}}: </label>
  <div class="col-md-8">
      <input type="text" name="companyCode" id="companyCode" class="form-control" ng-model="$parent.items.code" ng-disabled="$parent.items.disableCode" ng-maxlength="11" placeholder="Company Code"/>
      <p class="help-block"><span ng-show="companyForm.companyCode.$dirty && companyForm.companyCode.$error.maxlength">Company Code To Long.</span></p>
  </div>
</div>  

<div class="form-group" ng-class="{ 'has-error' : companyForm.name.$invalid, 'has-success' : companyForm.name.$valid && !companyForm.name.$pristine}">
<label class="control-label col-md-3" for="name">{{"name"|translate}}: </label>
  <div class="col-md-8">
      <input type="text" name="name" id="name" class="form-control" ng-model="$parent.items.name" placeholder="Company Name" required/>
      <p class="help-block"><span ng-show="companyForm.name.$dirty && companyForm.name.$error.required">{{"company-name"|translate}} {{"is-required"|translate}} is required.</span></p>
  </div>
</div> 