<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
       <button type="submit" tooltip="Assign Role Group" tooltip-placement="bottom" style="margin-left: 5px;" class="btn btn-xs btn-success btn-rounded" data-ng-click="grid.appScope.open_role_group(row.entity)">
          <i class="fa fa-user"></i>
        </button>
    </td>
  </tr>
</div>
