<script type="text/ng-template" id="_form-detail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">View <strong>Detail</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="form">
      <div class="form-group">
      <label for="code" class="col-sm-3 control-label">Code </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.code.$invalid, 'has-success' : form.code.$valid && !form.code.$pristine}">
        <input type="text" class="form-control" id="code" name="code" ng-model="items.roleCode" ng-maxlength="20" ng-minlength="3" ng-disabled="items[0].editMode" required>
        <p class="help-block mb-0" ng-show="form.username.$error.required && !form.username.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.username.$error.maxlength && !form.username.$pristine">{{'error_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.username.$error.minlength && !form.username.$pristine">{{'error_min_length'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="role_name" class="col-sm-3 control-label">Role Name </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.role_name.$invalid, 'has-success' : form.role_name.$valid && !form.role_name.$pristine}">
        <input type="text" class="form-control" id="role_name" name="role_name" ng-model="items.roleName" ng-maxlength="30" required>
        <p class="help-block mb-0" ng-show="form.role_name.$error.required && !form.role_name.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.role_name.$error.maxlength && !form.role_name.$pristine">{{'error_length'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="group" class="col-sm-3 control-label">Group </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.group.$invalid, 'has-success' : form.group.$valid && !form.group.$pristine}">
        <input type="text" class="form-control" id="group" name="group" ng-model="items.group" required>
        <p class="help-block mb-0" ng-show="form.group.$error.required && !form.group.$pristine">{{'error_required'|translate}}</p>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
</script>
