<script type="text/ng-template" id="roleGroup.html">
<span id="veil" us-spinner="{radius:30, width:8, length: 16}"></span>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">Assign<strong> Group Role</strong></h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Role Name </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="name" name="name" ng-model="items.roleName" disabled>
      </div>
    </div>
  </div>
  <hr class="line-dashed line-full" />
  <section class="tile" fullscreen="isFullscreen07">
    <div class="tile-header dvd dvd-btm">
      <h3 class="custom-font"><strong>Role Group</strong> Menu</h3>
    </div>
    <div class="tile-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th style="width:20px;"></th>
              <th>Menu</th>
              <th style="text-align: center;">Create</th>
              <th style="text-align: center;">Read</th>
              <th style="text-align: center;">Update</th>
              <th style="text-align: center;">Delete</th>
              <th style="text-align: center;">Approve</th>
              <th style="width:30px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in items.roles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index" ng-hide="(role.code == 0 || role.code == 5) && isAdmin == false">
              <td></td>
              <td>{{role.name}}</td>
                <td style="text-align: center;" ng-repeat="task in role.val | orderBy: 'sort'">
                  <span class="check-toggler" ng-hide="task.status == 'disable'" ng-class="{'checked': task.status}" ng-click="task.status = !task.status" ng-model="items.roles.status"></span>
                </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tile-footer dvd dvd-top">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select>
        </div>
        
        <div class="col-sm-2 text-center">
          <!--<small class="text-muted">Total Items {{totalItems}}</small>-->
        </div>
        
        <div class="col-sm-7 text-right">
          <ul class="pagination pagination-sm m-0">
            <pagination style="margin: 0px !important;" total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="modal-footer">
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="form.$invalid" ng-click="assign_role(items)"><i class="fa fa-arrow-right"></i> Submit</button>
  </div>
</script>
