<script type="text/ng-template" id="changePassword.html">
  <div class="modal-header">
    <h3 class="modal-title custom-font text-center">Change Password</h3>
  </div>
  <div class="modal-body">
      <!-- tile body -->
      <form name="userForm" ng-submit="submitForm(userForm.$valid)" role="form" novalidate>
          <!-- tile -->
          <section class="tile" fullscreen="isFullscreen01">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
              <div class="tile-body">
                <div class="form-group" ng-class="{ 'has-error' : userForm.oldpass.$invalid && !userForm.oldpass.$pristine, 'has-success' : userForm.oldpass.$valid && !userForm.oldpass.$pristine}">
                  <label for="oldpass">Old Password: </label>
                  <input type="password" name="oldpass" id="oldpass" class="form-control" ng-model="items.password" required>
                  <p class="help-block">
                    <span ng-show="userForm.oldpass.$invalid && !userForm.oldpass.$pristine">Old Password is required.</span>
                  </p>
                </div>
                <div class="row">
                  <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="items.newPassword" ng-minlength="6" required>
                    <p class="help-block">
                      <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
                      <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                    </p>
                  </div>
                  <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
                    <label for="passwordConfirm">Password confirmation: </label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==items.newPassword' " ui-validate-watch=" 'items.newPassword' " required>
                    <p class="help-block">
                      <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      <!-- /tile body -->
    </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="userForm.$invalid" ng-click="ok()"><i class="fa fa-arrow-right"></i> Submit</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</script>
