<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title custom-font">{{"create"|translate}}<strong> Role</strong></h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="form">
    <div class="form-group">
      <label for="code" class="col-sm-3 control-label">Code </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.code.$invalid, 'has-success' : form.code.$valid && !form.code.$pristine}">
        <input type="text" ng-pattern="/^[0-9a-zA-Z_]*$/" ng-trim="false" class="form-control" id="code" name="code" ng-model="items.roleCode" ng-maxlength="20" ng-minlength="3" ng-disabled="items.editMode" required>
        <p class="help-block mb-0" ng-show="form.code.$error.required && !form.code.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.maxlength && !form.code.$pristine">{{'error_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.minlength && !form.code.$pristine">{{'error_min_length'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.code.$error.pattern && !form.code.$pristine">{{'INVALID_INPUT'|translate}}, {{'Error_CharNum'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="role_name" class="col-sm-3 control-label">Role Name </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.role_name.$invalid, 'has-success' : form.role_name.$valid && !form.role_name.$pristine}">
        <input type="text" class="form-control" id="role_name" name="role_name" ng-model="items.roleName" ng-maxlength="30" required>
        <p class="help-block mb-0" ng-show="form.role_name.$error.required && !form.role_name.$pristine">{{'error_required'|translate}}</p>
        <p class="help-block mb-0" ng-show="form.role_name.$error.maxlength && !form.role_name.$pristine">{{'error_length'|translate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="group" class="col-sm-3 control-label">Group </label>
      <div class="col-sm-8" ng-class="{ 'has-error' : form.group.$invalid, 'has-success' : form.group.$valid && !form.group.$pristine}">
        <select ui-jq="chosen" chosen-update-list id="group" name="group" ng-model="items.group" ng-change="exactSearch.groupCode=true" class="form-control" data-ng-options="obj.groupCode as obj.groupName for obj in list.group" required>
          <option value="">{{'MSG_OPTIONS'|translate}}</option>
        </select>
        <p class="help-block mb-0" ng-show="form.group.$error.required && !form.group.$pristine">{{'error_required'|translate}}</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
  <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="form.$invalid" ng-click="create_item(items)"><i class="fa fa-arrow-right"></i> Submit</button>
</div>