<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">Voucher <strong>Generate Request</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="generateForm">
      <div class="form-group" ng-class="{ 'has-error' : generateForm.pan.$invalid, 'has-success' : generateForm.pan.$valid && !generateForm.pan.$pristine}">
        <label class="control-label col-md-3" for="pan">{{"pan"|translate}} : </label>
        <div class="col-md-8">
            <input type="text" name="pan" id="pan" class="form-control" ng-model="items.pan" ng-maxlength="20" placeholder="Card Number" ng-pattern="/^[0-9_]+$/" required/>
              <p class="help-block" ng-show="generateForm.pan.$error.required && !generateForm.pan.$pristine">{{'error_required'|translate}}</p>
              <p class="help-block" ng-show="generateForm.pan.$error.pattern && !generateForm.pan.$pristine">{{'error_format'|translate}}</p>
              <p class="help-block" ng-show="generateForm.pan.$error.maxlength && !generateForm.pan.$pristine">{{'error_length'|translate}}</p>
        </div>
      </div>  

      <div class="form-group" ng-class="{ 'has-error' : generateForm.type.$invalid, 'has-success' : generateForm.type.$valid && !generateForm.type.$pristine}">
        <label for="type" class="col-sm-3 control-label">Voucher Type</label>
        <div class="col-sm-8">
          <select ui-jq="chosen" chosen-update-list class="form-control" name="type" id="type" ng-model="items.voucherTypeId" data-ng-options="obj.id as obj.label for obj in list.voucherTypeList" required>
            <option value="">{{'MSG_OPTIONS'|translate}}</option>
          </select>
          <p class="help-block"><span ng-show="generateForm.type.$error.required && !generateForm.type.$pristine">{{'error_required'|translate}}</span></p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : generateForm.amount.$invalid, 'has-success' : generateForm.amount.$valid && !generateForm.amount.$pristine}">
        <label class="control-label col-md-3" for="amount">Amount: </label>
        <div class="col-md-8">
            <input type="text" format="number" name="amount" id="amount" class="form-control" ng-model="items.amount" placeholder="Amount" ng-pattern="/^[0-9]+$/" required/>
            <p class="help-block" ng-show="generateForm.amount.$error.required && !generateForm.amount.$pristine">{{'error_required'|translate}}</p>
            <p class="help-block" ng-show="generateForm.amount.$error.pattern && !generateForm.amount.$pristine">{{'error_format'|translate}}</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : generateForm.qty.$invalid, 'has-success' : generateForm.qty.$valid && !generateForm.qty.$pristine}">
        <label class="control-label col-md-3" for="qty">Quantity: </label>
        <div class="col-md-8">
            <input type="text" name="qty" id="qty" class="form-control" ng-model="items.quantity" placeholder="Quantity" ng-pattern="/^[0-9]+$/" required/>
            <p class="help-block" ng-show="generateForm.qty.$error.required && !generateForm.qty.$pristine">{{'error_required'|translate}}</p>
            <p class="help-block" ng-show="generateForm.qty.$error.pattern && !generateForm.qty.$pristine">{{'error_format'|translate}}</p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error' : generateForm.expireDate.$invalid, 'has-success' : generateForm.expireDate.$valid && !generateForm.expireDate.$pristine}">
        <label class="control-label col-md-3">{{"expire-date"|translate}}: <span class="required"></span> </label>
        <span class="col-md-6" ng-controller="DatepickerCtrl">
          <div class="input-group w-md">
            <input type="text" class="form-control" ng-disabled="false" name="expireDate" datepicker-popup="{{format}}" required ng-model="items.expiredDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
            <p class="help-block"><span ng-show="generateForm.expireDate.$invalid && !generateForm.expireDate.$pristine">Invalid Format.</span></p>
            <p class="help-block"><span ng-show="generateForm.expireDate.$dirty && generateForm.expireDate.$error.required">field is required.</span></p>
        </span>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3" for="name">Remark: </label>
        <div class="col-md-8">
            <textarea type="text" rows="4" cols="50" name="remark" id="remark" class="form-control" ng-model="items.remark" placeholder="Remark"/>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
        <i class="fa fa-arrow-left"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok(items)" ng-disabled="!generateForm.$valid">
        <i class="fa fa-arrow-right"></i> 
        Submit
      </button>    
    </div>
  </div>
</script>
