<div class="page">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.main}}</a>
        </li>
        <li>
          <a data-ng-click="refresh()" ui-sref="app.category">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <div class="tile-body">
          <accordion>
            <accordion-group is-open="false">
              <accordion-heading>
                <i class="fa fa-search"></i> <span>{{'search'|translate}}</span><i class="pull-right fa" data-ng-class="{'fa-chevron-circle-down': status.open, 'fa-chevron-circle-right': !status.open}"></i>
              </accordion-heading>
              <form name="searchForm" id="searchForm" class="form">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label class="col-3-sm-2 control-label">{{"pan"|translate}}</label>                                
                    <input type="text" ng-model="filter.pan" class="form-control" />                    
                  </div>
                  <div ng-controller="DatepickerDemoCtrl" class="form-group col-md-4">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="createdDate">Created Date: </label>
                          <div>
                            <div class="input-group">
                              <input type="text" datepicker-startdate class="form-control" datepicker-popup="{{format}}" id="startCreatedDate" name="startCreatedDate" placeholder="Start Date" ng-model="filter.startCreatedDate" is-open="opened1" datepicker-options="dateOptions" ng-change="toggleMin(filter.startCreatedDate)" close-text="Close"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" ng-class="{'btn-today': !checkToday(filter.startCreatedDate)}">
                        <div class="form-group">
                          <label for="date"> </label>
                          <div>
                            <div class="input-group">
                              <input type="text" datepicker-enddate class="form-control" datepicker-popup="{{format}}" id="endCreatedDate" name="endCreatedDate" placeholder="End Date" min-date="minDate" ng-model="filter.endCreatedDate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" style="margin-top: 5px;"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" style="margin-top: 5px;" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-4" ng-show="!checker">
                    <label class="col-3-sm-2 control-label">Status</label>                                
                     <select id="status" name="status" ng-model="filter.status" class="form-control" data-ng-options="obj.code as obj.name for obj in list.status">
                      <option value="">{{'MSG_OPTIONS'|translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label class="col-3-sm-2 control-label">Voucher Type</label>                                
                     <select ui-jq="chosen" chosen-update-list id="voucherTypeId" name="voucherTypeId" ng-model="filter.voucherTypeId" class="form-control" data-ng-options="obj.id as obj.label for obj in list.voucherTypeList">
                      <option value="">{{'MSG_OPTIONS'|translate}}</option>
                    </select>
                  </div>
                    <div ng-controller="DatepickerDemoCtrl" class="form-group col-md-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="expireDate">{{"expire-date"|translate}}: </label>
                            <div>
                              <div class="input-group">
                                <input type="text" datepicker-startdate class="form-control" datepicker-popup="{{format}}" id="startExpiredDate" name="startExpiredDate" placeholder="Start Date" ng-model="filter.startExpiredDate" is-open="opened1" datepicker-options="dateOptions" ng-change="toggleMin(filter.startExpiredDate)" close-text="Close"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" ng-class="{'btn-today': !checkToday(filter.startExpiredDate)}">
                          <div class="form-group">
                            <label for="date"> </label>
                            <div>
                              <div class="input-group">
                                <input type="text" datepicker-enddate class="form-control" datepicker-popup="{{format}}" id="endExpiredDate" name="endExpiredDate" placeholder="End Date" ng-model="filter.endExpiredDate" min-date="minDate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" style="margin-top: 5px;"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" style="margin-top: 5px;" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3"> 
                        <button class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" ng-click="search()"><i class="fa fa-search"></i> <span ng-style="{'text-align':'center'}">{{"search"|translate}}</span></button>
                    </div>
                 </div>
              </form>
            </accordion-group>
          </accordion>
        </div>
        <section class="tile" fullscreen="isFullscreen07">
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{page.title}}</strong></h1>
            <button class="btn btn-primary btn-rounded pull-right mr-5" style="padding: 4px 10px" tooltip="Refresh Data" tooltip-placement="top" ng-click="refresh()"><fa name="refresh"></fa></button>
            <button class="btn btn-success btn-rounded pull-right mr-5" style="padding: 4px 10px" ng-show="buttonAccess('voucher-generate_create')" ng-click="create()"><fa name="plus"></fa>&nbsp;&nbsp;{{'CREATE'|translate}} </button>
          </div>

          <div class="tile-body" ng-show="checker">
            <tabset class="mb-20">
              <tab heading="Outstanding" ng-click="getVoucherGenerateChecker('2')">
                <div id="grid1" ng-show="buttonAccess('voucher-generate_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
                  <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
                </div>
              </tab>
              <tab heading="History" ng-click="getVoucherGenerateChecker('3')">
                <div id="grid1" ng-show="buttonAccess('voucher-generate_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
                  <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
                </div>
              </tab>
            </tabset>
          </div>

          <div class="tile-body" ng-show="!checker">
            <div id="grid1" ng-show="buttonAccess('voucher-generate_read')" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter>
              <div class="watermark" ng-show="data.length===0">{{'MSG_EMPTY'|translate}}</div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
<div data-ng-include data-src="'views/voucher/voucher-generate/_form.html'"></div>
<div data-ng-include data-src="'views/voucher/voucher-generate/_form-reject.html'"></div>