<div id="btn-block" class="table-responsive-wide"  style="text-align: center; width: 100%;"> 
	<tr> 
	 	<td>
			<button type="submit" ng-click="updateProcessor(promoManager, row.entity, row.rowIndex)" class="btn btn-xs btn-blue" >
				<i class="fa fa-edit">
					Edit {{row.getIndex()}}
				</i>
			</button>
			&nbsp;

	 	    <button type="submit" ng-remove-message="Are you sure that you want to delete ?" ng-remove-click="deleteProcessor(row.rowIndex)"  class="btn btn-xs btn-lightred">
	        	<i class="fa fa-times">
	        	    Delete
				</i>
	 	   	</button>
		</td>
    </tr>
</div>
