<div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">
  <tr>
    <td>
      <button name="details" type="submit" tooltip="View Detail" tooltip-placement="bottom" class="btn btn-xs btn-blue btn-rounded" data-ng-click="grid.appScope.detail(row.entity)">
        <i class="fa fa-list"></i>
      </button>
    </td>
  </tr>
</div>

