<div id="btn-block" class="table-responsive-wide" ng-controller="CheckerCtrl" style="text-align: center; width: 100%;">
<!-- <div id="btn-block" class="table-responsive-wide" style="text-align: center; width: 100%;">   -->
  <tr>
    <td>
      <div ng-show="!buttonAccess('voucher-generate_approve') && row.entity.status===1">
      <!-- <div ng-show="row.entity.status===1">   -->
<!--         <button name="edit" type="submit" tooltip="Edit" tooltip-placement="bottom" class="btn btn-xs btn-blue btn-rounded" data-ng-click="grid.appScope.edit(row.entity)">
          <i class="fa fa-pencil"></i>
        </button> -->
        <button style="margin-left:5px;" name="submit" type="submit" tooltip="Submit" tooltip-placement="bottom" class="btn btn-xs btn-green btn-rounded" ng-approved-title ="Submit" ng-approved-message="Are you sure that you want to Submit this item?" ng-approved-click="grid.appScope.submit(row.entity)">
          <i class="fa fa-check"></i>
        </button>
        <button name="delete" type="submit" tooltip="Delete" tooltip-placement="bottom" ng-remove-message="Are you sure that you want to delete this item?" ng-remove-click="grid.appScope.delete(row.entity)" class="btn btn-xs btn-lightred btn-rounded">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <div ng-show="buttonAccess('voucher-generate_approve') && row.entity.status===2">
      <!-- <div ng-show="row.entity.status===2"> -->
        <button name="approved" type="submit" tooltip="Approved" tooltip-placement="bottom" ng-approved-title ="Approve" ng-approved-message="Are you sure that you want to Approved this item?" ng-approved-click="grid.appScope.approved(row.entity)" class="btn btn-xs btn-green btn-rounded">
          <i class="fa fa-check"></i>
        </button>
        <button style="margin-left:5px;" name="submit" type="submit" tooltip="Reject" tooltip-placement="bottom" class="btn btn-xs btn-danger btn-rounded" data-ng-click="grid.appScope.reject(row.entity)">
          <i class="fa fa-reply"></i>
        </button>
      </div>
    </td>
  </tr>
</div>