<div align="center" ng-if="row.entity.statusId == 1 || row.entity.statusId == 2" id="btn-block" class="table-responsive-wide">
  <div style="width: 60px !important; left-padding:20px">
    <button ng-if="row.entity.statusId == 2" name="unblock" type="submit" tooltip="Unblock" tooltip-placement="bottom" ng-approved-title ="Unblock" ng-approved-message="Are you sure that you want to Unblock this item?" ng-approved-click="grid.appScope.blockUnblock(row.entity)" class="btn btn-xs btn-green btn-rounded">
      <i class="fa fa-unlock"></i>
    </button>
    <button ng-if="row.entity.statusId == 1" name="block" type="submit" tooltip="Block" tooltip-placement="bottom" ng-approved-title ="Block" ng-approved-message="Are you sure that you want to Block this item?" ng-approved-click="grid.appScope.blockUnblock(row.entity)" class="btn btn-xs btn-danger btn-rounded">
      <i class="fa fa-lock"></i>
    </button>     
  </div>
</div>