<div class="page page-dashboard">
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{"homepage"|translate}} </strong></h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body" data-ng-controller="MainCtrl">
            <!-- <label class="control-label">{{'GREETING'|translate}}</label> -->
          </div>
          <!-- /tile body -->
        </section>
      </div>
    </div>
  </div>
  <div class="card-container col-lg-3 col-sm-6 col-sm-12"></div>
</div>
