<header class="clearfix">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app.dashboard">
      <span>{{webTitle}}</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <!-- Branding end -->
  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>
  </ul>

  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
  <li style="margin-top: 12px;" ng-hide="false">
    <div ng-translate-language-select></div>
  </li>
    <li class="dropdown notifications" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        <fa name=""></fa>
        <span class="badge bg-lightred"></span>
      </a>
    </li>

    <li class="dropdown nav-profile" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
      <i class="fa fa-user" name="user"></i>
        <span id="username"></span><fa name="angle-down"></fa>
      </a>
      <ul class="dropdown-menu animated littleFadeInRight" style="margin-left: -25px;">
        <li>
          <a href="" data-ng-click="open_user_profile()">
            <i class="fa fa-user" name="user"></i>
            <span>{{"profile"|translate}}</span>
          </a>
        </li>
        <li>
          <a href="" ng-click="open_change_password()">
            <i class="fa fa-unlock" name="change-pass"></i>
            <span>{{"change-password"|translate}}</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="" ng-click="logOut()">
            <fa name="sign-out"></fa>{{"LOGOUT"|translate}}
          </a>
        </li>
      </ul>
    </li>

  </ul>
  <!-- Right-side navigation end -->
</header>
<div ng-include src='"views/administration/users/user-profile.html"'></div>
<div ng-include src='"views/administration/users/change-password.html"'></div>
<script>
  if (typeof(Storage) !== "undefined") {
      localStorage.setItem("lastname", "Smith");
      document.getElementById("username").innerHTML = JSON.parse(localStorage.getItem("ls.voucherData")).fullname;
  } else {
      document.getElementById("username").innerHTML = "browser does not support Web Storage...";
  }
</script>