<div id="sidebar-wrap" ng-controller="NavCtrl">
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
    <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        {{'navigation'|translate}} <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <ul id="navigation">
        <li nav-collapse ripple ui-sref-active="active" ng-class="{'open':$state.includes('app.mail')}" ng-repeat="menu in menus track by $index">
          <a><fa name="{{menu.fa}}"></fa> <span>{{menu.parent}}</span></a>
          <ul>
            <li ng-repeat="submenu in submenu | orderBy:'sortNo'" data-ng-if="menu.parent===submenu.parent" ui-sref-active="active"><a ui-sref={{submenu.url}}><fa name="caret-right"></fa> <span>{{submenu.name}}</span></a></li>
          </ul>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>
