<div class="page page-core page-login" ng-controller="MainCtrl">
  <div class="container w-420 p-15 bg-white mt-40">
    <div class="media p-15">
      <div class="media-body">      
          <h4 style="color: red; text-align: center;">Session has Expired!!!</h4>
          <a href="" class="btn btn-greensea b-0 br-2 mr-5 block" ng-click="logOut()">
            <fa name="sign-out"></fa> Go to Login
          </a>
      </div>
    </div>
  </div>
</div>
