<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">Voucher <strong>Transfer Request</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="replaceForm">
      <!--<div class="form-group" ng-class="{ 'has-error' : replaceForm.company.$invalid, 'has-success' : replaceForm.company.$valid && !replaceForm.company.$pristine}">
        <label for="company" class="col-sm-4 control-label">Company</label>
        <div class="col-sm-6">
            <select class="form-control" name="company" id="company" ng-model="items.companyCode" data-ng-options="obj.code as obj.name for obj in list.companyList" required>
              <option value="">{{'MSG_OPTIONS'|translate}}</option>
            </select>
            <p class="help-block"><span ng-show="replaceForm.company.$error.required && !replaceForm.company.$pristine">{{'error_required'|translate}}</span></p>
          </div>
      </div>
      -->
      <div class="form-group" ng-class="{ 'has-error' : replaceForm.oldPan.$invalid, 'has-success' : replaceForm.oldPan.$valid && !replaceForm.oldPan.$pristine}">
        <label class="control-label col-md-4" for="oldPan">{{"old"|translate}} {{"pan"|translate}}: </label>
        <div class="col-md-6">
            <input type="text" name="oldPan" id="oldPan" class="form-control" ng-model="items.oldPan" ng-maxlength="20" placeholder="Old Card Number" ng-pattern="/^[0-9_]+$/" required/>
              <p class="help-block" ng-show="replaceForm.oldPan.$error.required && !replaceForm.oldPan.$pristine">{{'error_required'|translate}}</p>
              <p class="help-block" ng-show="replaceForm.oldPan.$error.pattern && !replaceForm.oldPan.$pristine">{{'error_format'|translate}}</p>
              <p class="help-block" ng-show="replaceForm.oldPan.$error.maxlength && !replaceForm.oldPan.$pristine">{{'error_length'|translate}}</p>
        </div>
      </div>  

      <div class="form-group" ng-class="{ 'has-error' : replaceForm.newPan.$invalid, 'has-success' : replaceForm.newPan.$valid && !replaceForm.newPan.$pristine}">
        <label class="control-label col-md-4" for="newPan">{{"new"|translate}} {{"pan"|translate}}: </label>
        <div class="col-md-6">
            <input type="text" name="newPan" id="newPan" class="form-control" ng-model="items.newPan" ng-maxlength="20" placeholder="New Card Number" ng-pattern="/^[0-9_]+$/" required/>
              <p class="help-block" ng-show="replaceForm.newPan.$error.required && !replaceForm.newPan.$pristine">{{'error_required'|translate}}</p>
              <p class="help-block" ng-show="replaceForm.newPan.$error.pattern && !replaceForm.newPan.$pristine">{{'error_format'|translate}}</p>
              <p class="help-block" ng-show="replaceForm.newPan.$error.maxlength && !replaceForm.newPan.$pristine">{{'error_length'|translate}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4" for="name">Remark: </label>
        <div class="col-md-6">
            <textarea type="text" rows="4" cols="50" name="remark" id="remark" class="form-control" ng-model="items.remark" placeholder="Remark"/>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
        <i class="fa fa-arrow-left"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok(items)" ng-disabled="!replaceForm.$valid">
        <i class="fa fa-arrow-right"></i> 
        Submit
      </button>    
    </div>
  </div>
</script>
