<script type="text/ng-template" id="_form-reject.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title custom-font">Form <strong>Reject</strong></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="rejectForm">
    <div class="form-group" ng-class="{ 'has-error' : rejectForm.remark.$invalid && !rejectForm.remark.$pristine, 'has-success' : rejectForm.companyCode.$valid && !rejectForm.companyCode.$pristine}">
      <label class="control-label col-md-3" for="remark">Remark: </label>
        <div class="col-md-8">
            <textarea type="text" rows="4" cols="50" name="remark" id="remark" class="form-control" ng-model="items.rejectRemark" required/>
            <p class="help-block"><span ng-show="rejectForm.remark.$dirty && rejectForm.remark.$error.required">Remark is required.</span></p>
        </div>
      </div>  
      
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()">
        <i class="fa fa-arrow-left"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok(items)" ng-disabled="!rejectForm.$valid">
        <i class="fa fa-arrow-right"></i> 
        Submit
      </button>    
    </div>
  </div>
</script>
